<?xml version="1.0" encoding="UTF-8"?>
<Chart _uuid="90UOgsyI[u[[k8h06d3ypQ" name="module.project.test.defect.system" label="M#12cn17系统分组比例图" is_valid="Y" note="M#" data_logic="DP_TEST_DEFECT_DI.Build_Describe_System_Chart">
  <Header _uuid="hEw2lbKoKQPKAv]FPMBJjw" name="header" label="M#12cn17系统分组比例图" is_valid="Y" note="M#" />
  <Coordinate _uuid="b0WyWIx9[X2SRN]q9ItKpg" name="Coordinate" label="M#" is_valid="Y" note="M#" is_visible="Y">
    <Axis _uuid="vEhh4PkkWfecBbwffLyykw" name="AxisX" label="M#" is_valid="Y" note="M#" step="1" line_width="1" background_color="#FFFFFF" is_visible="Y" type="B" data_name="BOTTOM">
      <Stick _uuid="iEfYwg7rMRskRPOqAmlupg" name="Stick" label="M#" is_valid="Y" note="M#" min="0" step="2" line_width="1" line_color="#CCCCCC" type="V" />
      <Stick _uuid="PU63po1rtZtGxBMU[kbukA" name="Stick" label="M#" is_valid="Y" note="M#" min="1" step="2" line_width="1" line_color="#E0E0E0" type="V" />
    </Axis>
    <Axis _uuid="0EDLuOxWUowNxa4kBv7ptw" name="AxisY" label="M#" is_valid="Y" note="M#" min="3" step="10" background_color="#FFFFFF" is_visible="Y" type="L" data_name="LEFT">
      <Stick _uuid="YkQ5Dxa7mpJBNb2CLBiUkw" name="Stick" label="M#" is_valid="Y" note="M#" min="0" step="10" line_width="1" line_color="#CCCCCC" type="H" />
      <Stick _uuid="L0plTk1RBMVVrDYFaifQkg" name="Stick" label="M#" is_valid="Y" note="M#" min="5" step="10" line_width="1" line_color="#E0E0E0" type="H" />
    </Axis>
  </Coordinate>
  <Graphics _uuid="A0pb7GWbId0PnDi2[ByvrA" name="Graphics" label="M#" is_valid="Y" note="M#" background_color="#FFFFFF">
    <Series _uuid="J0bwwT1ZSzPbsCCH8TL4sg" name="Series" label="M#" is_valid="Y" note="M#" type="vline">
      <Data _uuid="YEciYr[wqQiA2Y3aS3I6rA" name="Data" label="M#" is_valid="Y" note="M#" data_name="DATA" color="#9966CC" line_color="#FF9933" line_width="3" />
    </Series>
  </Graphics>
</Chart>

