<?xml version="1.0" encoding="UTF-8"?>
<TreeView _uuid="PE]EgVN5KxlEgYBvjE]Giw" _type="TreeView" name="system.system.config" label="M#12cn17系统-组件设置" is_valid="Y" note="M#" service="catalog@system.config">
  <TreeNodeType _uuid="oULHCD9XLrhu3uzwVmGwsQ" _type="TreeNodeType" name="configuration" label="M#12cn12配置" is_valid="Y" note="M#" type="collection" type_name="Configuration" icon="#system.config.configuration" action="list" attributes="form_name=system.config.ConfigurationForm" />
  <TreeNodeType _uuid="UE1u]Xdm7SaWeM]kDZIijA" _type="TreeNodeType" name="config" label="M#12cn14配置设置" is_valid="Y" note="M#" type="component" type_name="Config" icon="#system.config.config" action="list" attributes="form_name=system.config.ConfigForm" />
  <TreeNodeType _uuid="QEdLAS]Q694VppokPA16oA" _type="TreeNodeType" name="component" label="M#12cn12组件" is_valid="Y" note="M#" type="component" type_name="Component" icon="#system.config.component" action="list" attributes="form_name=system.config.ComponentForm" />
  <TreeNodeType _uuid="8Eqg87q1g6iEicJCQfgBkw" _type="TreeNodeType" name="components" label="M#12cn14组件集合" is_valid="Y" note="M#" type="component" type_name="Components" icon="#system.config.components" action="list" attributes="form_name=system.config.ComponentsForm" />
  <TreeNodeType _uuid="x0YIVnK1bTrXS1IVLrR5iQ" _type="TreeNodeType" name="property" label="M#12cn12属性" is_valid="Y" note="M#" type="component" type_name="Property" icon="#system.config.property" action="list" attributes="form_name=system.config.PropertyForm" />
  <TreeNodeType _uuid="RUkroYOf0PA6S6m7cq]1hg" _type="TreeNodeType" name="parameter" label="M#12cn12参数" is_valid="Y" note="M#" type="component" type_name="Parameter" icon="#system.config.parameter" action="list" attributes="form_name=system.config.ParameterForm" />
  <TreeNodeType _uuid="X0hHXFOEbAGdDAfQ8bGQog" _type="TreeNodeType" name="initialize" label="M#12cn13初始化" is_valid="Y" note="M#" type="component" type_name="Initialize" icon="#system.config.initialize" action="list" attributes="form_name=system.config.InitializeForm" />
  <TreeNodeType _uuid="LEiagI0N[23CV8eM5A4trg" _type="TreeNodeType" name="release" label="M#12cn12释放" is_valid="Y" note="M#" type="component" type_name="Release" icon="#system.config.release" action="list" attributes="form_name=system.config.ReleaseForm" />
  <TreeNodeType _uuid="5EKvBBi8V1H34stoUXHIkQ" _type="TreeNodeType" name="webService" label="M#12cn12服务" is_valid="Y" note="M#" type="component" type_name="WebService" icon="#system.config.webservice" attributes="form_name=system.config.WebServiceForm" />
  <TreeNodeType _uuid="2kegpq9AaRUz4DAn8JAyqw" _type="TreeNodeType" name="webServlet" label="M#12cn12应用" is_valid="Y" note="M#" type="component" type_name="WebServlet" icon="#system.config.webservlet" attributes="form_name=system.config.WebServletForm" />
  <TreeNodeType _uuid="LEhtxA6tvrQ7A0TeDyS8jQ" _type="TreeNodeType" name="action" label="M#12cn12动作" is_valid="Y" note="M#" type="component" type_name="Action" icon="#system.config.action" attributes="form_name=system.config.ActionForm" />
  <TreeNodeType _uuid="0Em]XWE3zXZegs6OQusUkQ" _type="TreeNodeType" name="actions" label="M#12cn14动作集合" is_valid="Y" note="M#" type="component" type_name="Actions" icon="#system.config.actions" attributes="form_name=system.config.ActionsForm" />
  <TreeNodeType _uuid="bUby6Tl]2O8PSNyRYVGmjg" _type="TreeNodeType" name="include" label="M#12cn12包含" is_valid="Y" note="M#" type="component" type_name="Include" icon="#system.config.include" attributes="form_name=system.config.IncludeForm" />
</TreeView>

