/Source/Library/LibZip/vcproject/Debug
/Source/Library/LibFreeType/vcproject/Debug
/Source/Library/LibJpeg/vcproject/Debug
/Source/Library/LibLzma/vcproject/Debug
/Source/Library/LibPng/vcproject/Debug
/Source/Library/LibPng/vcproject/*.user
/Source/Cross/Feature/MoFeatureGraphic/vcproject/Debug
/Source/Cross/Common/MoCommon/vcproject/Debug
/Source/Cross/Common/MoCommon/vcproject/*.user
/Source/Cross/Common/MoCore/vcproject/Debug
/Source/Cross/Common/MoMath/vcproject/Debug
/Source/Cross/Feature/MoFeatureInput/vcproject/Debug
/Source/Cross/Feature/MoFeatureInput/vcproject/*.user
/Source/Cross/Feature/MoFeatureLogger/vcproject/Debug
/Source/Cross/Feature/MoFeatureParticle/vcproject/Debug
/Source/Cross/Feature/MoFeaturePhysics/vcproject/Debug
/Source/Cross/Feature/MoFeatureProfile/vcproject/Debug
/Source/Cross/Feature/MoFeatureResource/vcproject/Debug
/Source/Cross/Feature/MoFeatureResource/vcproject/*.filters
/Source/Cross/Feature/MoFeatureScript/vcproject/Debug
/Source/Cross/Feature/MoFeatureSound/vcproject/Debug
/Source/Cross/Feature/MoFeatureTerrain/vcproject/Debug
/Source/Cross/Engine/MoEngine/vcproject/Debug
/Source/Cross/Engine/MoEngine/vcproject/*.user
/Source/Cross/Engine/MoEngine2d/vcproject/Debug
/Source/Cross/Engine/MoEngine2d/vcproject/*.user
/Source/Cross/Engine/MoEngine3d/vcproject/Debug
/Source/Cross/Engine/MoEngine3d/vcproject/*.user
/Source/Cross/Engine/MoEngineAnimation/vcproject/Debug
/Source/Cross/Engine/MoEngineAnimation/vcproject/*.user
/Source/Cross/Engine/MoEngineFace/vcproject/Debug
/Source/Cross/Engine/MoEngineRender/vcproject/Debug
/Source/Cross/Game/MoGameEngine/vcproject/Debug
/Source/Cross/Platform/MoPlatformOpenGLES2/vcproject/Debug
/Source/Cross/Platform/MoPlatformWindows/vcproject/Debug
/Source/Cross/Test/MpTestDemo/vcproject/Debug
/Source/Cross/Test/MpTestDemo/vcproject/*.user
/Source/Cross/Test/MpTestInstance/vcproject/Debug
/Source/*.sdf
/Source/*.opensdf
/Source/*.suo
/Build/Debug_x86/*.lib
/Build/Debug_x86/*.exp
/Build/Debug_x86/*.pdb
/Build/Debug_x86/*.ilk
/Build/Debug_x64/*.exp
/Build/Debug_x64/*.ilk
/Build/Debug_x64/*.lib
/Build/Debug_x64/*.pdb
/Source/Utility/3dsExportSolution/Mo3ds2014Export/Debug
/Source/Utility/3dsExportSolution/Mo3ds2014Export/x64
/Source/Utility/3dsExportSolution/Mo3ds2014Export/*.user
/Source/Utility/3dsExportSolution/Mo3ds2014Exporter/x64
/Source/Utility/3dsExportSolution/Mo3ds2014Exporter/Debug
/Source/Utility/3dsExportSolution/Mo3ds2014Exporter/*.user
/Source/Utility/3dsExportSolution/*.sdf
/Source/Utility/3dsExportSolution/*.opensdf
/Source/Utility/3dsExportSolution/*.suo
/Source/Cross/Common/MoCommon/vcproject/x64
/Source/Cross/Test/MpTestInstance/vcproject/*.user
/Tools/1 - Common/MoCommon/obj
/Tools/1 - Common/MoCompress/x64
/Tools/1 - Common/MoCompress/Debug
/Tools/1 - Common/MoCompress/Release
/Tools/1 - Common/MoCompress/*.user
/Tools/1 - Common/MoCore/obj
/Tools/1 - Common/MoDirect2d/obj
/Tools/1 - Common/MoDirect3d/obj
/Tools/2 - Core/MoContent2d/obj
/Tools/2 - Core/MoContent2d/bin
/Tools/2 - Core/MoContent3d/obj
/Tools/2 - Core/MoContent3d/bin
/Tools/2 - Core/MoDesign2d/obj
/Tools/2 - Core/MoDesign2d/bin
/Tools/2 - Core/MoDesign3d/obj
/Tools/4 - Mobile/MoMobile/bin
/Tools/4 - Mobile/MoMobile/obj
/Tools/4 - Mobile/MpMobileFrame/obj
/Tools/4 - Mobile/MpMobileFrame/bin
/Tools/4 - Mobile/MpMobileMap/obj
/Tools/4 - Mobile/MpMobileMap/bin
/Tools/4 - Mobile/MpMobileResource/obj
/Tools/4 - Mobile/MpMobileResource/bin
/Tools/4 - Mobile/MpMobileTemplate/obj
/Tools/4 - Mobile/MpMobileTemplate/bin
/Tools/5 - Demo/MpDemoResource3d/obj
/Tools/5 - Demo/MpDemoResource3d/bin
/Tools/5 - SNS/MpSnsResource2d/obj
/Tools/5 - SNS/MpSnsResource2d/bin
/Tools/5 - SNS/MpSnsResource3d/obj
/Tools/5 - SNS/MpSnsResource3d/bin
/Tools/9 - Utililty/MpProfileLogger/obj
/Tools/9 - Utililty/MpProfileLogger/bin
/Tools/9 - Utililty/MpProjectCheck/obj
/Tools/9 - Utililty/MpProjectCheck/bin
/Tools/9 - Utililty/MpProjectFilter/obj
/Tools/9 - Utililty/MpProjectFilter/bin
/Tools/Build/Debug_x86/*.pdb
/Tools/Build/Debug_x86/*.config
/Tools/Build/Debug_x86/*.manifest
/Tools/Build/Debug_x86/*.application
/Tools/Build/Debug_x86/*.metagen
/Tools/Build/Debug_x86/*.vshost.exe
/Tools/Build/Debug_x86/SlimDX.xml
/Tools/*.sdf
/Tools/*.opensdf
/Tools/*.suo
/Platform/mo-1-common/bin
/Platform/mo-2-core/bin
/Platform/mo-3-logic/bin
/Platform/mo-3-script/bin
/Platform/mo-6-util/bin
/Platform/mo-gm-develop/bin
/Platform/mo-zq-game/bin
/Platform/mo-zq-logic/bin
/Platform/.metadata
/Source/Cross/Common/MoCommon/maproject/obj
/Source/Cross/Common/MoCore/maproject/obj
/Source/Cross/Common/MoMath/maproject/obj
/Source/Cross/Engine/MoEngine/maproject/obj
/Source/Cross/Engine/MoEngine2d/maproject/obj
/Source/Cross/Engine/MoEngine3d/maproject/obj
/Source/Cross/Engine/MoEngineFace/maproject/obj
/Source/Cross/Engine/MoEngineRender/maproject/obj
/Source/Cross/Feature/MoFeatureGraphic/maproject/obj
/Source/Cross/Feature/MoFeatureInput/maproject/obj
/Source/Cross/Feature/MoFeatureLogger/maproject/obj
/Source/Cross/Feature/MoFeatureParticle/maproject/obj
/Source/Cross/Feature/MoFeaturePhysics/maproject/obj
/Source/Cross/Feature/MoFeatureResource/maproject/obj
/Source/Cross/Feature/MoFeatureSound/maproject/obj
/Source/Cross/Game/MoGameEngine/maproject/obj
/Source/Cross/Platform/MoPlatformAndroid/maproject/obj
/Source/Cross/Platform/MoPlatformAndroid/dist
/Source/Cross/Platform/MoPlatformAndroid/build
/Source/Cross/Platform/MoPlatformOpenGLES2/maproject/obj
/Source/Library/LibFreeType/maproject/obj
/Source/Library/LibJpeg/maproject/obj
/Source/Library/LibLzma/maproject/obj
/Source/Cross/Plugin/MoPluginScriptMono/vcproject/Debug
/Source/Cross/Plugin/MoPluginScriptMono/vcproject/*.user
/Source/Cross/Test/MpTestScript/vcproject/Debug
/Source/Cross/Test/MpTestScript/vcproject/*.user
/Demo/Android/MpTestDemo/assets/MoTest/MoTest/obj
/Demo/Android/MpTestDemo/assets/MoTest/MoTest/bin
/Demo/Android/MpTestDemo/assets/Script/*.pdb
/Source/Cross/Platform/MoPlatformOpenGLES2/vcproject/*.user
/Source/Cross/Architecture/MoArchitectureAndroid/vcproject/Debug
/Source/Cross/Architecture/MoArchitectureLinux/vcproject/Debug
/Source/Cross/Architecture/MoArchitectureMac/vcproject/Debug
/Source/Cross/Architecture/MoArchitectureWindows/vcproject/Debug
/Source/Cross/Architecture/MoArchitectureAndroid/vcproject/Release
/Source/Cross/Architecture/MoArchitectureLinux/vcproject/Release
/Source/Cross/Architecture/MoArchitectureMac/vcproject/Release
/Source/Cross/Architecture/MoArchitectureWindows/vcproject/Release
/Source/Cross/Common/MoCommon/vcproject/Release
/Source/Cross/Common/MoCore/vcproject/Release
/Source/Cross/Common/MoMath/vcproject/Release
/Source/Cross/Engine/MoEngine/vcproject/Release
/Source/Cross/Engine/MoEngine2d/vcproject/Release
/Source/Cross/Engine/MoEngine3d/vcproject/Release
/Source/Cross/Engine/MoEngineAnimation/vcproject/Release
/Source/Cross/Engine/MoEngineFace/vcproject/Release
/Source/Cross/Engine/MoEngineRender/vcproject/Release
/Source/Cross/Feature/MoFeatureGraphic/vcproject/Release
/Source/Cross/Feature/MoFeatureInput/vcproject/Release
/Source/Cross/Feature/MoFeatureLogger/vcproject/Release
/Source/Cross/Feature/MoFeaturePhysics/vcproject/Release
/Source/Cross/Feature/MoFeatureProfile/vcproject/Release
/Source/Cross/Feature/MoFeatureResource/vcproject/Release
/Source/Cross/Feature/MoFeatureScript/vcproject/Release
/Source/Cross/Feature/MoFeatureSound/vcproject/Release
/Source/Cross/Feature/MoFeatureTerrain/vcproject/Release
/Source/Cross/Game/MoGameEngine/vcproject/Release
/Source/Cross/Platform/MoPlatformOpenGLES2/vcproject/Release
/Source/Cross/Platform/MoPlatformWindows/vcproject/Release
/Source/Cross/Platform/MoPlatformAndroid/vcproject/Debug
/Source/Cross/Plugin/MoPluginScriptMono/vcproject/Release
/Source/Cross/Test/MpTestDemo/vcproject/Release
/Source/Cross/Test/MpTestInstance/vcproject/Release
/Source/Cross/Test/MpTestDemo/maproject/libs
/Source/Cross/Test/MpTestDemo/maproject/obj
/Source/Cross/Test/MpTestDemo/maproject/jni/*.a
/Source/Cross/Feature/MoFeatureParticle/vcproject/Release
/Source/Library/LibJpeg/vcproject/x64
/Source/Library/LibJpeg/vcproject/Release
/Source/Library/LibLzma/vcproject/x64
/Source/Library/LibLzma/vcproject/Release
/Source/Library/LibPng/vcproject/Release
/Source/Library/LibFreeType/vcproject/Release
/Source/Library/LibZip/vcproject/Release
/Tools/Build/Debug_x86
/Tools/Build/Debug_x64
/Utiliy/Common/MoCommon/obj
/Utiliy/Common/MoCore/obj
/Utiliy/Profiler/MoScout/obj
/Utiliy/Profiler/MoScout/bin
/Utiliy/Profiler/MpScout/obj
/Utiliy/Profiler/MpScout/bin
/Utiliy/Build/Debug_AnyCPU
/Utiliy/Build/Debug_x86
/Utiliy/*.suo
/Demo/Android/.metadata
/Utiliy/Demo/MpEditorDemo/obj
/Utiliy/Demo/MpEditorDemo/bin
/Utiliy/Editor/MoFaceEditor/obj
/Utiliy/Editor/MoFaceEditor/bin
/Utiliy/Editor/MoSceneEditor/obj
/Utiliy/Editor/MoSceneEditor/bin
/Utiliy/Editor/MpFaceEditor/obj
/Utiliy/Editor/MpFaceEditor/bin
/Utiliy/Editor/MpSceneEditor/obj
/Utiliy/Core/MoFace/obj
/Utiliy/Content/MoContent/obj
