/Source/Library/LibZip/vcproject/Debug
/Source/Library/LibFreeType/vcproject/Debug
/Source/Library/LibJpeg/vcproject/Debug
/Source/Library/LibLzma/vcproject/Debug
/Source/Library/LibPng/vcproject/Debug
/Source/Library/LibPng/vcproject/*.user
/Source/Cross/Feature/MoFeatureGraphic/vcproject/Debug
/Source/Cross/Common/MoCommon/vcproject/Debug
/Source/Cross/Common/MoCommon/vcproject/*.user
/Source/Cross/Common/MoCore/vcproject/Debug
/Source/Cross/Common/MoMath/vcproject/Debug
/Source/Cross/Feature/MoFeatureInput/vcproject/Debug
/Source/Cross/Feature/MoFeatureInput/vcproject/*.user
/Source/Cross/Feature/MoFeatureLogger/vcproject/Debug
/Source/Cross/Feature/MoFeatureParticle/vcproject/Debug
/Source/Cross/Feature/MoFeaturePhysics/vcproject/Debug
/Source/Cross/Feature/MoFeatureProfile/vcproject/Debug
/Source/Cross/Feature/MoFeatureResource/vcproject/Debug
/Source/Cross/Feature/MoFeatureResource/vcproject/*.filters
/Source/Cross/Feature/MoFeatureScript/vcproject/Debug
/Source/Cross/Feature/MoFeatureSound/vcproject/Debug
/Source/Cross/Feature/MoFeatureTerrain/vcproject/Debug
/Source/Cross/Engine/MoEngine/vcproject/Debug
/Source/Cross/Engine/MoEngine/vcproject/*.user
/Source/Cross/Engine/MoEngine2d/vcproject/Debug
/Source/Cross/Engine/MoEngine2d/vcproject/*.user
/Source/Cross/Engine/MoEngine3d/vcproject/Debug
/Source/Cross/Engine/MoEngine3d/vcproject/*.user
/Source/Cross/Engine/MoEngineAnimation/vcproject/Debug
/Source/Cross/Engine/MoEngineAnimation/vcproject/*.user
/Source/Cross/Engine/MoEngineFace/vcproject/Debug
/Source/Cross/Engine/MoEngineRender/vcproject/Debug
/Source/Cross/Game/MoGameEngine/vcproject/Debug
/Source/Cross/Platform/MoPlatformOpenGLES2/vcproject/Debug
/Source/Cross/Platform/MoPlatformWindows/vcproject/Debug
/Source/Cross/Test/MpTestDemo/vcproject/Debug
/Source/Cross/Test/MpTestDemo/vcproject/*.user
/Source/Cross/Test/MpTestInstance/vcproject/Debug
/Source/*.sdf
/Source/*.opensdf
/Source/*.suo
/Build/Debug_x86/*.lib
/Build/Debug_x86/*.exp
/Build/Debug_x86/*.pdb
/Build/Debug_x86/*.ilk
/Build/Debug_x64/*.exp
/Build/Debug_x64/*.ilk
/Build/Debug_x64/*.lib
/Build/Debug_x64/*.pdb
/Source/Utility/3dsExportSolution/Mo3ds2014Export/Debug
/Source/Utility/3dsExportSolution/Mo3ds2014Export/x64
/Source/Utility/3dsExportSolution/Mo3ds2014Export/*.user
/Source/Utility/3dsExportSolution/Mo3ds2014Exporter/x64
/Source/Utility/3dsExportSolution/Mo3ds2014Exporter/Debug
/Source/Utility/3dsExportSolution/Mo3ds2014Exporter/*.user
/Source/Utility/3dsExportSolution/*.sdf
/Source/Utility/3dsExportSolution/*.opensdf
/Source/Utility/3dsExportSolution/*.suo
/Source/Cross/Common/MoCommon/vcproject/x64
/Source/Cross/Test/MpTestInstance/vcproject/*.user
