<?xml version="1.0" encoding="UTF-8"?>
<TreeView _uuid="nUaWf]uKQ3LH028wnBXetQ" name="system.design.persistence" label="M#12cn210系统-持久化对象目录" is_valid="Y" note="M#" service="catalog@design.persistence">
  <TreeNodeType _uuid="pEVBRmk7AFwRHgu9mZBfhA" name="persistence" label="M#12cn14组件集合" is_valid="Y" note="M#" type="collection" type_name="persistence" icon="#design.persistence.persistence" action="list" attributes="form_name=design.persistence.PersistenceForm" />
  <TreeNodeType _uuid="]0xtzrOlJMe6827i4D1Ytw" name="component" label="M#12cn12组件" is_valid="Y" note="M#" type="component" type_name="component" icon="#design.persistence.component" action="list" attributes="form_name=design.persistence.ComponentForm" />
  <TreeNodeType _uuid="8UGmkr]QqIGRGM]7w8K5ig" name="interface" label="M#12cn13虚组件" is_valid="Y" note="M#" type="component" type_name="interface" icon="#design.persistence.interface" action="list" attributes="form_name=design.persistence.InterfaceForm" />
  <TreeNodeType _uuid="HkB5V6K4nc3GJUwbtggluA" name="attribute" label="M#12cn12属性" is_valid="Y" note="M#" type="component" type_name="attribute" icon="#design.persistence.attribute" attributes="form_name=design.persistence.AttributeForm" />
</TreeView>

