/* ------------------------------------------------------ */
.RLine_Underline{
   text-decoration: none;
   padding-bottom: 2px;
   border-bottom: 1px dotted #333333;
}

/* ------------------------------------------------------ */
.RBorder_Form{
   table-layout: fixed;
   }
.RBorder_InnerForm{
   background-color:#F1FFFF;
   }
.RBorder_Top
   {
   overflow:hidden;
   width:100%;
   height:1px;
   margin:0 2px;
   background:#24C2DB;
   }
.RBorder_Before{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #24C2DB;
   border-right:1px solid #24C2DB;
   background:#FFFFFF;
   }
.RBorder_Panel{
   border-left:1px solid #24C2DB;
   border-right:1px solid #24C2DB;
   }
.RBorder_After{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #24C2DB;
   border-right:1px solid #24C2DB;
   background:#FFFFFF;
   }
.RBorder_Bottom{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 2px;
   background:#24C2DB;
   }
/* ------------------------------------------------------ */
.RBorder_TopReadony
   {
   overflow:hidden;
   width:100%;
   height:1px;
   margin:0 2px;
   background:#B3B2AB;
   }
.RBorder_BeforeReadony{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #B3B2AB;
   border-right:1px solid #B3B2AB;
   background:#FFFFFF;
   }
.RBorder_PanelReadony{
   border-left:1px solid #B3B2AB;
   border-right:1px solid #B3B2AB;
   }
.RBorder_AfterReadony{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #B3B2AB;
   border-right:1px solid #B3B2AB;
   background:#FFFFFF;
   }
.RBorder_BottomReadony{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 2px;
   background:#B3B2AB;
   }

/* ------------------------------------------------------ */
/* Body                                                   */
/* ------------------------------------------------------ */
/*body
   {
   font-size:9pt;
   font-family:"SimSun";
   scrollbar-face-color:#BBBBBB;
   scrollbar-highlight-color:#FFFFFF;
   scrollbar-shadow-color:#999999;
   scrollbar-3dlight-color:#999999;
   scrollbar-arrow-color:#666666;
   scrollbar-track-color:#F0F0F0;
   scrollbar-darkshadow-color:#FFFFFF;
   }
*/

/* ------------------------------------------------------ */
/* Href                                                   */
/* ------------------------------------------------------ */
a
   {
   text-decoration:none;
   color :blue;
   }
a:hover
   {
   text-decoration:underline;
   }

/* ------------------------------------------------------ */
/* Text                                                   */
/* ------------------------------------------------------ */
td
   {
   font-family:"SimSun"; font-size:9pt;
   }
div
   {
   font-family:"SimSun"; font-size:9pt;
   }
span
   {
   font-family:"SimSun"; font-size:9pt;
   }
th
   {
   font-family:"SimSun"; font-size:9pt;
   }

/* ------------------------------------------------------ */
/* Input                                                  */
/* ------------------------------------------------------ */
input
   {
   font-family:"SimSun";
   font-size:9pt; border:1px solid #999999;
   }
select
   {
   font-family:"SimSun";
   font-size:9pt; border:1px solid #999999;
   }
textarea
   {
   font-family:"SimSun"; font-size:9pt;
   border:1px solid #999999;
   }

/* ------------------------------------------------------ */
/* Body                                                   */
/* ------------------------------------------------------ */
.bodyCatalog
   {
   padding:0;
   margin:0;
   }
.bodyMain
   {
   padding:0;
   margin:0;
   background-color:#ededf3
   }

.titleButtonNormal{
   white-space: nowrap;
   color:#333333; text-align:center;
   padding-top:4px; padding-left:12px; padding-bottom:2px; padding-right:12px;
}

.titleButtonHover{
   white-space: nowrap; cursor:pointer;
   color:#333333; text-align:center;
   padding-top:3px; padding-left:11px; padding-bottom:1px; padding-right:11px;
   border:1px solid #666666;
   }

.titleButtonSelect {
   white-space: nowrap;
   color:#333333; background-color:#BABADB; text-align:center;
   padding-top:3px; padding-left:11px; padding-bottom:1px; padding-right:11px;
   border-left:1px solid #9E9EBA; border-top:1px solid #9E9EBA; border-right:1px solid #9E9EBA; border-bottom:0px solid #FFFFFF;
   }

.toolButtonNormal {
   color:#000000;
   background-color:#CCCCCC;
   border:1px solid #333333;
   padding-top:0px; padding-left:16px; padding-bottom:0px; padding-right:16px;
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
   white-space:nowrap;
   }

.toolButtonHover {
   cursor:pointer;
   color:#666666;
   border:1px solid #333333;
   background-color:#d5d5fa;
   padding-top:0px; padding-left:16px; padding-bottom:0px; padding-right:16px;
   filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#d2d2f6);
   white-space:nowrap;
   }
.toolButtonSelect {
   color:#6a6a7c;
   border:1px solid #333333;
   padding-top:0px; padding-left:16px; padding-bottom:0px; padding-right:16px;
   filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#acacca);
   white-space:nowrap;
   }

