A
	{
	text-decoration:none;
	color:0033CC;
	}

A:Hover
	{
	text-decoration: underline
	}

IMG
	{
	border:0;
	}

TD
	{
	font-family:"NSimSun";
	font-size:9pt;
	}

INPUT
	{
	font-family:"NSimSun";
	font-size:9pt;
	border:1px solid #999999;
	}

TEXTAREA
	{
	font-family:"NSimSun";
	font-size:9pt;
	border:1px solid #999999;
	}

.navTitle {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 14px;
	color: #FFFFFF;
}
.navText {
	font-family:"NSimSun";
	font-size: 9pt;
	color: #FFFFFF;
}

.headTitle
	{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 16pt;
	color: #00509F;
	}

.headVersion
	{
	font-family:"NSimSun";
	font-size: 9pt;
	color: #666666;
	}

.listElement
	{
	font-family:"NSimSun";
	font-size:9pt;
	}

.listElementTitle
	{
	font-family: Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 9pt;
	}

