
/* ------------------------------------------------------ *
 * FEdit                                                  *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCheck                                                 *
 * ------------------------------------------------------ */
.FCheck_Edit
   {
   border: 0;
   }

/* ------------------------------------------------------ *
 * FNumber                                                *
 * ------------------------------------------------------ */
.FNumber_Edit
   {
   width: 100%;
   border: 0;
   text-align: right;
   }
.FNumber_Unit
   {
   }
.FNumber_UpButton
   {
   }
.FNumber_DownButton
   {
   }
.FNumber_AdjustForm
   {
   }

/* ------------------------------------------------------ *
 * FColorPicker                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCalendar                                              *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FButton                                                *
 * ------------------------------------------------------ */
.FButton_Form
   {
   cursor: hand;
   width: 100;
   height: 21;
   padding-left: 6;
   padding-top: 2;
   padding-right: 6;
   padding-bottom: 2;
   }

/* ------------------------------------------------------ *
 * FMemo                                                  *
 * ------------------------------------------------------ */
.FMemo_Edit
   {
   width: 100%;
   height: 100%;
   border: 0;
   }

/* ------------------------------------------------------ *
 * FSelect                                                *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FSplit                                                 *
 * ------------------------------------------------------ */
.FSplit_Panel
   {
   cursor: hand;
   width: 100%;
   }
.FSplit_Title
   {
   color: #333333;
   background-color: #CEF6FE;
   cursor: hand;
   border-bottom: 1 solid #29BAD6;
   }

/* ------------------------------------------------------ *
 * FControl                                               *
 * ------------------------------------------------------ */
.FControl_Panel
   {
   padding: 1;
   }
.FControl_Design
   {
   background-color: #D9D6D0;
   cursor: hand;
   border-left: 1 solid #FFFFFF;
   border-top: 1 solid #FFFFFF;
   border-right: 1 solid #666666;
   border-bottom: 1 solid #666666;
   }
.FControl_DesignHover
   {
   background-color: #D9D6D0;
   border: 1 solid #666666;
   }

/* ------------------------------------------------------ *
 * Tag                                                    *
 * ------------------------------------------------------ */
.Tag_Image
   {
   border: 0;
   }
.Tag_Icon
   {
   border: 0;
   }
.Tag_Check
   {
   cursor: hand;
   border: 0;
   }
.Tag_Radio
   {
   cursor: hand;
   border: 0;
   }

/* ------------------------------------------------------ *
 * FListWindow                                            *
 * ------------------------------------------------------ */
.FListWindow_Panel
   {
   width: 800;
   height: 600;
   position: absolute;
   }
.FListWindow_ButtonPanel
   {
   background-color: #CCCCCC;
   width: 100%;
   height: 1;
   border-left: 1 solid #999999;
   border-top: 1 solid #999999;
   border-right: 1 solid #EEEEEE;
   border-bottom: 1 solid #EEEEEE;
   }

/* ------------------------------------------------------ *
 * FSearchWindow                                          *
 * ------------------------------------------------------ */
.FSearchWindow_Panel
   {
   width: 600;
   height: 400;
   position: absolute;
   }
.FSearchWindow_ButtonPanel
   {
   background-color: #CCCCCC;
   width: 100%;
   height: 1;
   border-left: 1 solid #999999;
   border-top: 1 solid #999999;
   border-right: 1 solid #EEEEEE;
   border-bottom: 1 solid #EEEEEE;
   }

/* ------------------------------------------------------ *
 * FSelectEditor                                          *
 * ------------------------------------------------------ */
.FSelectEditor_Row
   {
   background-color: #FFFFFF;
   cursor: hand;
   padding-left: 6;
   white-space: nowrap;
   }
.FSelectEditor_RowHover
   {
   background-color: #C5F8C5;
   cursor: hand;
   padding-left: 6;
   white-space: nowrap;
   }
.FSelectEditor_RowSelect
   {
   background-color: #88F088;
   cursor: hand;
   padding-left: 6;
   white-space: nowrap;
   }

/* ------------------------------------------------------ *
 * FIconPicker                                            *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FTemplate                                              *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnStatus                                          *
 * ------------------------------------------------------ */
.FColumnStatus_Head
   {
   width: 20;
   padding-left: 1;
   padding-top: 0;
   padding-right: 1;
   padding-bottom: 0;
   text-align: center;
   }

/* ------------------------------------------------------ *
 * FColumnCheck                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FToolBar                                               *
 * ------------------------------------------------------ */
.FToolBar_Panel
   {
   background-color: #E4EFFD;
   border-left: 1 solid #29BAD5;
   border-top: 1 solid #29BAD5;
   border-bottom: 1 solid #29BAD5;
   }
.FToolBar_Button
   {
   padding-left: 8;
   padding-top: 2;
   padding-right: 8;
   padding-bottom: 2;
   white-space: nowrap;
   }

/* ------------------------------------------------------ *
 * FToolButtonSplit                                       *
 * ------------------------------------------------------ */
.FToolButtonSplit_Panel
   {
   width: 6;
   border-right: 1 solid #29BAD5;
   }

/* ------------------------------------------------------ *
 * FMenuButtonSplit                                       *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FEditControl                                           *
 * ------------------------------------------------------ */
.FEditControl_EditForm
   {
   overflow: auto;
   table-layout: fixed;
   }
.FEditControl_Edit
   {
   width: 100%;
   border: 0;
   }
.FEditControl_DropPanel
   {
   width: 15;
   }
.FEditControl_Unit
   {
   }

/* ------------------------------------------------------ *
 * FCheckPicker                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCalendarEditor                                        *
 * ------------------------------------------------------ */
.FCalendarEditor_Panel
   {
   position: absolute;
   border: 0;
   }
.FCalendarEditor_Edit
   {
   background-color: #DDFFDD;
   }
.FCalendarEditor_Button
   {
   color: #1f8fb7;
   cursor: hand;
   font-family: webdings;
   }
.FCalendarEditor_ButtonHover
   {
   color: #1f8fb7;
   cursor: hand;
   font-family: webdings;
   }
.FCalendarEditor_Day
   {
   color: #146579;
   cursor: hand;
   text-align: center;
   }
.FCalendarEditor_DaySel
   {
   color: #1F8FB7;
   font-weight: BOLD;
   text-align: center;
   }
.FCalendarEditor_DayHover
   {
   background-color: #e6faf9;
   cursor: hand;
   underline-position: below;
   text-align: center;
   }
.FCalendarEditor_DayFree
   {
   color: #FF0000;
   cursor: hand;
   text-align: center;
   }
.FCalendarEditor_DayNone
   {
   text-align: center;
   }
.FCalendarEditor_DaysPanel
   {
   color: #146579;
   background-color: #FFFFFF;
   width: 100%;
   border-top: 1 dashed #CECECE;
   border-bottom: 1 dashed #CECECE;
   padding-top: 5;
   }
.FCalendarEditor_TimePanel
   {
   width: 100%;
   border: 5 solid RED;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#eae3d5);
   }
.FCalendarEditor_Year
   {
   color: #1F8FB7;
   background-color: #F1FFFF;
   width: 40;
   border: 1 solid #2BD6F0;
   font-weight: BOLD;
   text-align: right;
   }
.FCalendarEditor_Month
   {
   color: #1F8FB7;
   background-color: #F1FFFF;
   width: 40;
   border: 1 solid #2BD6F0;
   font-weight: BOLD;
   text-align: right;
   }
.FCalendarEditor_Week
   {
   color: #4E8C9C;
   }
.FCalendarEditor_Now
   {
   color: #1F8FB7;
   cursor: hand;
   padding-right: 20;
   font-weight: BOLD;
   text-align: right;
   }
.FCalendarEditor_YearMonth
   {
   color: #1F8FB7;
   font-weight: BOLD;
   }
.FCalendarEditor_ButtonPanel
   {
   text-align: right;
   }
.FCalendarEditor_ItemsForm
   {
   width: 100%;
   }

/* ------------------------------------------------------ *
 * FCellCalendar                                          *
 * ------------------------------------------------------ */
.FCellCalendar_Edit
   {
   background-color: #FFFFFF;
   width: 100%;
   border: 0;
   }
.FCellCalendar_Form
   {
   border: 0;
   }
.FCellCalendar_EditForm
   {
   width: 100%;
   border: 0;
   }
.FCellCalendar_DropForm
   {
   border: 0;
   }
.FCellCalendar_PanelInvalid
   {
   background-color: #FFCCCC;
   width: 100%;
   border: 0;
   }
.FCellCalendar_EditInvalid
   {
   background-color: #FFCCCC;
   width: 100%;
   border: 0;
   }

/* ------------------------------------------------------ *
 * FCellCheck                                             *
 * ------------------------------------------------------ */
.FCellCheck_Edit
   {
   width: 12;
   height: 12;
   border: 0 dotted;
   }
.FCellCheck_EditSelect
   {
   width: 12;
   height: 12;
   border: 0;
   }
.FCellCheck_EditReadonly
   {
   width: 12;
   height: 12;
   border: 0;
   }
.FCellCheck_EditReadonlySelect
   {
   width: 12;
   height: 12;
   border: 0;
   }

/* ------------------------------------------------------ *
 * FCellEdit                                              *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellEditControl                                       *
 * ------------------------------------------------------ */
.FCellEditControl_Panel
   {
   }
.FCellEditControl_Edit
   {
   width: 100%;
   border: 0;
   }
.FCellEditControl_EditSelect
   {
   background-color: #D6F9FF;
   width: 100%;
   border: 0;
   }
.FCellEditControl_EditReadonly
   {
   color: #b4b4b4;
   width: 100%;
   border: 0;
   }
.FCellEditControl_EditReadonlySelect
   {
   color: #B4B4B4;
   background-color: #D6F9FF;
   width: 100%;
   border: 0;
   }

/* ------------------------------------------------------ *
 * FCellIcon                                              *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellNumber                                            *
 * ------------------------------------------------------ */
.FCellNumber_Select
   {
   background-color: #D6F9FF;
   width: 100%;
   }
.FCellNumber_Edit
   {
   width: 100%;
   border: 0;
   text-align: right;
   }
.FCellNumber_EditSelect
   {
   background-color: #D6F9FF;
   width: 100%;
   border: 0;
   text-align: right;
   }
.FCellNumber_EditReadonly
   {
   color: #B4B4B4;
   width: 100%;
   border: 0;
   text-align: right;
   }
.FCellNumber_EditReadonlySelect
   {
   color: #B4B4B4;
   background-color: #D6F9FF;
   width: 100%;
   border: 0;
   text-align: right;
   }
.FCellNumber_AdjustForm
   {
   width: 14;
   border: 0;
   }
.FCellNumber_EditForm
   {
   width: 100%;
   }

/* ------------------------------------------------------ *
 * FCellPicture                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellProgress                                          *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellSelect                                            *
 * ------------------------------------------------------ */
.FCellSelect_Edit
   {
   width: 100%;
   border: 0;
   }
.FCellSelect_Form
   {
   border: 0;
   }
.FCellSelect_EditForm
   {
   width: 100%;
   border: 0;
   }
.FCellSelect_DropForm
   {
   border: 0 none;
   }
.FCellSelect_Drop
   {
   border: 0 none;
   }

/* ------------------------------------------------------ *
 * FCellStatus                                            *
 * ------------------------------------------------------ */
.FCellStatus_Panel
   {
   background-color: #E6ECF0;
   cursor: hand;
   width: 20;
   border-bottom: 1 solid #C1C1C1;
   }

/* ------------------------------------------------------ *
 * FCheckPickerEditor                                     *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnCalendar                                        *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnColor                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnEdit                                            *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnEditControl                                     *
 * ------------------------------------------------------ */
.FColumnEditControl_Panel
   {
   width: 19;
   position: relative;
   padding-left: 1;
   padding-top: 2;
   padding-right: 1;
   padding-bottom: 1;
   font-weight: BOLDER;
   text-align: center;
   }
.FColumnEditControl_SearchPanel
   {
   background-color: #DBEAFD;
   position: relative;
   border-bottom: 1 solid #29BAD5;
   }
.FColumnEditControl_SearchEdit
   {
   background-color: #DBEAFD;
   width: 100%;
   border: 0;
   }
.FColumnEditControl_HeadLabel
   {
   white-space: nowrap;
   }

/* ------------------------------------------------------ *
 * FColumnEmpty                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnIcon                                            *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnNumber                                          *
 * ------------------------------------------------------ */
.FColumnNumber_FixedPanel
   {
   background-color: #D6F9FF;
   }

/* ------------------------------------------------------ *
 * FColumnPicture                                         *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnProgress                                        *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnSelect                                          *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColorPickerEditor                                     *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FWebForm                                               *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FWebTable                                              *
 * ------------------------------------------------------ */
.FWebTable_Heads
   {
   background-color: #4F93E3;
   width: 100%;
   height: 1;
   border: 0;
   padding: 0;
   margin: 0;
   }

/* ------------------------------------------------------ *
 * FEditor                                                *
 * ------------------------------------------------------ */
.FEditor_Panel
   {
   position: absolute;
   }
.FEditor_Edit
   {
   width: 100%;
   border: 0;
   }

/* ------------------------------------------------------ *
 * FDropEditor                                            *
 * ------------------------------------------------------ */
.FDropEditor_DropForm
   {
   background-color: #FFFFFF;
   width: 100%;
   height: 100%;
   }

/* ------------------------------------------------------ *
 * FTreeView                                              *
 * ------------------------------------------------------ */
.FTreeView_Panel
   {
   width: 100%;
   height: 100%;
   table-layout: fixed;
   }
.FTreeView_NodePanel
   {
   width: 100%;
   height: 100%;
   overflow: auto;
   }
.FTreeView_NodeForm
   {
   width: 100%;
   }

/* ------------------------------------------------------ *
 * FTreeColumn                                            *
 * ------------------------------------------------------ */
.FTreeColumn_Panel
   {
   color: #FFFFFF;
   background-color: #239FB8;
   border-top: 1 solid #1C8195;
   border-bottom: 1 solid #1C8195;
   padding-top: 2;
   padding-bottom: 2;
   font-weight: bolder;
   text-align: center;
   }

/* ------------------------------------------------------ *
 * FTreeLevel                                             *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FTreeNode                                              *
 * ------------------------------------------------------ */
.FTreeNode_Panel
   {
   padding: 0;
   }
.FTreeNode_Hover
   {
   background-color: #DBEAFD;
   cursor: hand;
   padding: 0;
   }
.FTreeNode_Select
   {
   cursor: hand;
   padding: 0;
   }
.FTreeNode_NodePanel
   {
   padding-left: 0;
   padding-top: 1;
   padding-right: 0;
   padding-bottom: 1;
   }
.FTreeNode_NodeHover
   {
   background-color: #E7EEF7;
   cursor: hand;
   border-top: 1 solid #D6E4F7;
   border-bottom: 1 solid #D6E4F7;
   }
.FTreeNode_NodeSelect
   {
   background-color: #D6E4F7;
   border-top: 1 solid #57C1D5;
   border-bottom: 1 solid #57C1D5;
   padding: 0;
   }

/* ------------------------------------------------------ *
 * FTreeNodeType                                          *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FWindow                                                *
 * ------------------------------------------------------ */
.FWindow_Panel
   {
   width: 600;
   height: 360;
   position: absolute;
   }
.FWindow_Inner
   {

   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
   }
.FWindow_Caption
   {
   color: #FFFFFF;
   vertical-align: bottom;
   line-height: 12px;
   }
.FWindow_BodyPanel
   {
   background-color: #FFFFFF;
   width: 100%;
   height: 100%;
   padding: 4;
   }
.FWindow_BodyHover
   {
   background-color: #FFFFFF;
   width: 100%;
   height: 100%;
   padding: 4;

   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
   }
.FWindow_Button
   {
   color: #000000;
   background-color: #FFFFFF;
   width: 11;
   border: 1 solid #758D5E;
   line-height: 11px;
   font-family: webdings;
   }
.FWindow_TitleForm
   {
   background-color: #FFFFFF;
   width: 100%;
   padding: 4;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=1,startcolorstr=#3355F4,endcolorstr=#BEACEC);
   }
.FWindow_TitlePanel
   {
   height: 1;
   }
.FWindow_BorderForm
   {
   width: 100%;
   height: 100%;
   }

/* ------------------------------------------------------ *
 * FMessageWindow                                         *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FPageControl                                           *
 * ------------------------------------------------------ */
.FPageControl_Panel
   {
   width: 100%;
   }
.FPageControl_TitlePanel
   {
   height: 1;
   }
.FPageControl_TitleForm
   {
   width: 100%;
   }
.FPageControl_DataForm
   {
   width: 100%;
   height: 100%;
   }
.FPageControl_Form
   {
   width: 100%;
   height: 100%;
   }

/* ------------------------------------------------------ *
 * FPageSheet                                             *
 * ------------------------------------------------------ */
.FPageSheet_Panel
   {
   white-space: nowrap;
   }
.FPageSheet_Button
   {
   cursor: hand;
   width: 100%;
   height: 100%;
   border-top: 1 solid #29BAD5;
   padding-left: 10;
   padding-top: 4;
   padding-right: 10;
   padding-bottom: 3;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#FFFFFF,endcolorstr=#A4EAEA);
   }
.FPageSheet_ButtonHover
   {
   background-color: #29BAD5;
   width: 100%;
   height: 100%;
   border-top: 1 solid #29BAD5;
   padding-left: 10;
   padding-top: 4;
   padding-right: 10;
   padding-bottom: 3;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#FFFFFF,endcolorstr=#55CFE6);
   }
.FPageSheet_ButtonSelect
   {
   width: 100%;
   height: 100%;
   padding-left: 10;
   padding-top: 5;
   padding-right: 10;
   padding-bottom: 3;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#A4EAEA,endcolorstr=#FFFFFF);
   }
.FPageSheet_Top
   {
   background-color: #FFFFFF;
   height: 1;
   }
.FPageSheet_Left
   {
   background-color: #FFFFFF;
   width: 1;
   border-top: 1 solid #666666;
   }
.FPageSheet_Right
   {
   background-color: #29BAD5;
   width: 1;
   }
.FPageSheet_Bottom
   {
   background-color: #29BAD5;
   height: 1;
   }
.FPageSheet_DataPanel
   {
   padding: 8;
   }
.FPageSheet_TopSelect
   {
   background-color: #29BAD5;
   height: 1;
   }
.FPageSheet_LeftSelect
   {
   background-color: #29BAD5;
   width: 1;
   }
.FPageSheet_RightSelect
   {
   background-color: #29BAD5;
   width: 1;
   }
.FPageSheet_BottomSelect
   {
   background-color: #FFFFFF;
   height: 1;
   }
.FPageSheet_ButtonText
   {
   white-space: nowrap;
   }
.FPageSheet_RightPrior
   {
   width: 1;
   border-top: 1 dotted #29BAD5;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#FFFFFF,endcolorstr=#29BAD7);
   }

/* ------------------------------------------------------ *
 * FToolButton                                            *
 * ------------------------------------------------------ */
.FToolButton_Panel
   {
   width: 1;
   }
.FToolButton_Button
   {
   cursor: hand;
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #29BAD5;
   }
.FToolButton_Disable
   {
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #7B7975;

   filter: progid:DXImageTransform.Microsoft.BasicImage(grayscale=1,invert=0,mask=0,mirror=0);
   }
.FToolButton_Hover
   {
   cursor: hand;
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #7B7975;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#F1F9FC,endcolorstr=#5FC5DA);
   }
.FToolButton_Press
   {
   cursor: hand;
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #7B7975;
   }

/* ------------------------------------------------------ *
 * FToolButtonCheck                                       *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FToolButtonMenu                                        *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FToolButtonText                                        *
 * ------------------------------------------------------ */
.FToolButtonText_Panel
   {
   cursor: hand;
   width: 100%;
   height: 100%;
   border-right: 1 solid #29BAD5;
   }
.FToolButtonText_Button
   {
   cursor: hand;
   width: 100%;
   }
.FToolButtonText_Hover
   {
   cursor: hand;
   width: 100%;
   }

/* ------------------------------------------------------ *
 * FMenuButton                                            *
 * ------------------------------------------------------ */
.FMenuButton_Panel
   {
   background-color: #F5F2ED;
   width: 100%;
   border: 1 solid #999999;
   }
.FMenuButton_Button
   {
   width: 100%;
   padding-left: 14;
   padding-top: 1;
   padding-right: 14;
   padding-bottom: 1;
   white-space: nowrap;
   }
.FMenuButton_Hover
   {
   background-color: #FFFFFF;
   cursor: hand;
   width: 100%;
   border-left: 1 solid #CCCCCC;
   border-top: 1 solid #CCCCCC;
   border-right: 1 solid #666666;
   border-bottom: 1 solid #666666;
   }

/* ------------------------------------------------------ *
 * FForm                                                  *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FPanel                                                 *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FContainer                                             *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FPopupMenu                                             *
 * ------------------------------------------------------ */
.FPopupMenu_Panel
   {
   background-color: #EAE3D5;
   position: absolute;
   border-left: 1 solid #F0F0F0;
   border-top: 1 solid #F0F0F0;
   border-right: 1 solid #666666;
   border-bottom: 1 solid #666666;
   }
.FPopupMenu_Label
   {
   }
.FPopupMenu_Button
   {
   padding-left: 4;
   padding-top: 3;
   padding-right: 4;
   }

/* ------------------------------------------------------ *
 * FListBox                                               *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FListItem                                              *
 * ------------------------------------------------------ */
.FListItem_Form
   {
   width: 100%;
   border: 1 solid #CCCCCC;
   }

/* ------------------------------------------------------ *
 * RWindow                                                *
 * ------------------------------------------------------ */
.RWindow_Disable
   {
   background-color: #CCCCCC;
   position: absolute;

   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
   }
.RWindow_Shadow
   {
   background-color: #999999;
   position: absolute;

   filter: progid:DXImageTransform.Microsoft.Alpha(opacity=60);
   }

/* ------------------------------------------------------ *
 * FDesignConsole                                         *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellColorPicker                                       *
 * ------------------------------------------------------ */
.FCellColorPicker_Edit
   {
   border: 0;
   }
.FCellColorPicker_EditForm
   {
   width: 100%;
   border: 0;
   }
.FCellColorPicker_DropForm
   {
   border: 0;
   }

/* ------------------------------------------------------ *
 * FPageTab                                               *
 * ------------------------------------------------------ */
.FPageTab_LabelPanel
   {
   white-space: nowrap;
   }

/* ------------------------------------------------------ *
 * FColumnProcessStatus                                   *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellProcessStatus                                     *
 * ------------------------------------------------------ */
.FCellProcessStatus_Process
   {
   }

/* ------------------------------------------------------ *
 * FSelectItem                                            *
 * ------------------------------------------------------ */
.FSelectItem_Panel
   {
   background-color: #FFFFFF;
   }
.FSelectItem_Icon
   {
   width: 20;
   font-family: Wingdings;
   font-size: 12;
   }
.FSelectItem_Label
   {
   height: 20;
   white-space: nowrap;
   }
.FSelectItem_Hover
   {
   background-color: #e2f9ff;
   cursor: hand;
   }
.FSelectItem_Select
   {
   background-color: #bcedff;
   }
.FSelectItem_Note
   {
   color: green;
   }

/* ------------------------------------------------------ *
 * FHtmlMemo                                              *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FEditEditor                                            *
 * ------------------------------------------------------ */
.FEditEditor_ItemsForm
   {
   width: 100%;
   }

/* ------------------------------------------------------ *
 * FTimer                                                 *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FSideButton                                            *
 * ------------------------------------------------------ */
.FSideButton_TitleForm
   {

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#D8F6FF);
   }

/* ------------------------------------------------------ *
 * FHistoryButton                                         *
 * ------------------------------------------------------ */
.FHistoryButton_Panel
   {
   width: 1;
   padding-left: 2;
   padding-right: 2;
   font-weight: undefined;
   }
.FHistoryButton_Button
   {
   cursor: hand;
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #29BAD5;
   }
.FHistoryButton_Hover
   {
   cursor: hand;
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #7B7975;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#F1F9FC,endcolorstr=#5FC5DA);
   }
.FHistoryButton_Select
   {
   cursor: hand;
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #7B7975;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#5FC5DA,endcolorstr=#F1F9FC);
   }

/* ------------------------------------------------------ *
 * FCell                                                  *
 * ------------------------------------------------------ */
.FCell_Panel
   {
   }
.FCell_PanelSelect
   {
   color: #B4B4B4;
   background-color: #D6F9FF;
   }
.FCell_Edit
   {
   width: 100%;
   border: 0;
   }
.FCell_EditSelect
   {
   background-color: #D6F9FF;
   width: 100%;
   border: 0;
   }

/* ------------------------------------------------------ *
 * FColumn                                                *
 * ------------------------------------------------------ */
.FColumn_FixedPanel
   {
   background-color: #D6F9FF;
   width: 100%;
   height: 100%;
   }
.FColumn_HeadLabel
   {
   white-space: nowrap;
   }
.FColumn_SearchEdit
   {
   background-color: #DBEAFD;
   width: 100%;
   border: 0;
   }
.FColumn_SearchFixedPanel
   {
   }
.FColumn_SearchPanel
   {
   background-color: #DBEAFD;
   position: relative;
   border-bottom: 1 solid #29BAD5;
   }
.FColumn_Panel
   {
   position: relative;
   padding-left: 1;
   padding-top: 2;
   padding-right: 1;
   padding-bottom: 1;
   font-weight: bolder;
   text-align: center;
   }

/* ------------------------------------------------------ *
 * FActionWindow                                          *
 * ------------------------------------------------------ */
.FActionWindow_ButtonPanel
   {
   background-color: #CCCCCC;
   width: 100%;
   height: 1;
   border-left: 1 solid #999999;
   border-top: 1 solid #999999;
   border-right: 1 solid #EEEEEE;
   border-bottom: 1 solid #EEEEEE;
   }

/* ------------------------------------------------------ *
 * FTitleButton                                           *
 * ------------------------------------------------------ */
.FTitleButton_Button
   {
   cursor: hand;
   width: 1;
   }
.FTitleButton_Label
   {
   padding-left: 6;
   padding-right: 6;
   white-space: nowrap;
   font-weight: bold;
   }
.FTitleButton_Hover
   {
   cursor: hand;
   width: 1;
   }

/* ------------------------------------------------------ *
 * FBrowser                                               *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FRowControl                                            *
 * ------------------------------------------------------ */
.FRowControl_Panel
   {
   background-color: #FFFFFF;
   }
.FRowControl_Select
   {
   background-color: #D6F9FF;
   }

/* ------------------------------------------------------ *
 * FRow                                                   *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FGridControl                                           *
 * ------------------------------------------------------ */
.FGridControl_BorderPanel
   {
   width: 100%;
   height: 100%;
   table-layout: fixed;
   }
.FGridControl_DataForm
   {
   background-color: #FFFFFF;
   border-bottom: 1 solid #BFD3EE;
   table-layout: fixed;
   }
.FGridControl_DataPanel
   {
   overflow: auto;
   }
.FGridControl_HeadPanel
   {
   position: absolute;
   overflow-x: hidden;
   }
.FGridControl_HeadForm
   {
   background-color: #29BAD5;
   table-layout: fixed;
   }
.FGridControl_HintForm
   {
   width: 100%;
   }
.FGridControl_Panel
   {
   width: 100%;
   }

/* ------------------------------------------------------ *
 * FTable                                                 *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * MDescNumber                                            *
 * ------------------------------------------------------ */
