/* ------------------------------------------------------ */
/* Body                                                   */
/* ------------------------------------------------------ */
HTML
   {
   margin: 0px;
   padding:0px;
   border-width: 0px;
   font-size:9pt;
   font-family: NSimSun;
   height: 100%;
   }

BODY
   {
   margin: 0px;
   padding: 0px;
   border-width: 0px;
   font-size:9pt;
   font-family: NSimSun;
   scrollbar-face-color: #edfdff;
   scrollbar-highlight-color: #a2c5ff;
   scrollbar-shadow-color: #FFFFFF;
   scrollbar-3dlight-color: #FFFFFF;
   scrollbar-darkshadow-color: #a2c5ff;
   scrollbar-arrow-color: #999999;
   scrollbar-track-color: #FFFFFF;
   scrollbar-base-color: #F8F8F8;
   }

FORM
   {
   width:100%;
   height:100%;
   margin: 0px;
   padding: 0px;
   border-width: 0px;
   }

/* ------------------------------------------------------ */
/* Href                                                   */
/* ------------------------------------------------------ */
A
   {
   font-family: NSimSun;
   text-decoration:none;
   color :blue;
   }
A:hover
   {
   font-family: NSimSun;
   text-decoration:underline;
   }

/* ------------------------------------------------------ */
/* Text                                                   */
/* ------------------------------------------------------ */
TD
   {
   font-family: NSimSun;
   font-size:9pt;
   }
DIV
   {
   font-family: NSimSun;
   font-size:9pt;
   }
SPAN
   {
   font-family: NSimSun;
   font-size:9pt;
   }
TH
   {
   font-family: NSimSun;
   font-size:9pt;
   }

/* ------------------------------------------------------ */
/* Input                                                  */
/* ------------------------------------------------------ */
INPUT
   {
   font-family: NSimSun;
   font-size:9pt;
   border:1px solid #999999;
   }
SELECT
   {
   font-family: NSimSun;
   font-size:9pt;
   border:1px solid #999999;
   }
TEXTAREA
   {
   font-family: NSimSun;
   font-size:9pt;
   border:1px solid #999999;
   }

/* ------------------------------------------------------ */
.RLine_Underline{
   text-decoration: none;
   padding-bottom: 2px;
   border-bottom: 1px dotted #333333;
}

/* ------------------------------------------------------ */
.RBorder_Form{
   table-layout: fixed;
   }
.RBorder_InnerForm{
   background-color:#F1FFFF;
   }
.RBorder_Top
   {
   overflow:hidden;
   width:100%;
   height:1px;
   margin:0 2px;
   background-color:#4F9FDF;
   }
.RBorder_Before{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #4F9FDF;
   border-right:1px solid #4F9FDF;
   background-color:#FFFFFF;
   }
.RBorder_Panel{
   border-left:1px solid #4F9FDF;
   border-right:1px solid #B5CFE7;
   }
.RBorder_After{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #4F9FDF;
   border-right:1px solid #B5CFE7;
   background-color:#FFFFFF;
   }
.RBorder_Bottom{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 2px;
   background-color:#B5CFE7;
   }
/* ------------------------------------------------------ */
.RBorder_TopReadony
   {
   overflow:hidden;
   width:100%;
   height:1px;
   margin:0 2px;
   background:#AAAAAA;
   }
.RBorder_BeforeReadony{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #BBBBBB;
   border-right:1px solid #BBBBBB;
   background:#FFFFFF;
   }
.RBorder_PanelReadony{
   border-left:1px solid #BBBBBB;
   border-right:1px solid #DDDDDD;
   }
.RBorder_AfterReadony{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #BBBBBB;
   border-right:1px solid #DDDDDD;
   background:#FFFFFF;
   }
.RBorder_BottomReadony{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 2px;
   background:#DDDDDD;
   }
/* ------------------------------------------------------ */
.RBorder_FloatTo{
   height:8px;
   margin:0 0 0 18px;
   background:url(/eUIS/ats/00/rs/icon/borderb.png) no-repeat 100% 0;
   }
.RBorder_FloatTi{
   position:relative;
   left:-18px;
   width:18px;
   height:8px;
   background:url(/eUIS/ats/00/rs/icon/borderb.png) no-repeat 0 0;   font-size:0;
   line-height:0;
   position:relative;
   }
.RBorder_FloatBo
   {
   height:8px;
   margin:0 0 0 12px;
   background:url(/eUIS/ats/00/rs/icon/borderb.png) no-repeat 100% 100%;
   }
.RBorder_FloatBi
   {
   position:relative;
   left:-12px;
   width:12px;
   height:8px;
   background:url(/eUIS/ats/00/rs/icon/borderb.png) no-repeat 0 100%;
   font-size:0;
   line-height:0;
   }
.RBorder_FloatLeft{
   padding:0 0 0 7px;
   background:url(/eUIS/ats/00/rs/icon/borderv.png) repeat-y 0 0;
   }
.RBorder_FloatBody{
   padding:0 7px 0 0;
   background:url(/eUIS/ats/00/rs/icon/borderv.png) repeat-y 100% 0;
   }
.RBorder_FloatRight{
   margin:0;
   background: #C1C1C1;
   display:inline-block;
   }
/* ------------------------------------------------------ */
/* Body                                                   */
/* ------------------------------------------------------ */
.bodyCatalog
   {
   margin:0; padding:0;
   }
.bodyMain
   {
   margin:0; padding:0;
   background-color:#FFFFFF;
   }

.borderRoot {
   BORDER-TOP-WIDTH: 0px;
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0px;
   BORDER-LEFT-WIDTH: 0px;
   BORDER-BOTTOM-WIDTH: 0px;
   PADDING-BOTTOM: 0px;
   MARGIN: 0px;
   WIDTH: 100%;
   PADDING-TOP: 0px;
   BORDER-COLLAPSE: collapse;
   HEIGHT: 100%;
   BORDER-RIGHT-WIDTH: 0px
}
.borderCenter {
   PADDING-RIGHT: 0px;
   BACKGROUND-POSITION: left top;
   PADDING-LEFT: 0px;
   PADDING-BOTTOM: 0px;
   MARGIN: 0px;
   VERTICAL-ALIGN: top;
   PADDING-TOP: 0px;
   BACKGROUND-REPEAT: repeat-x;
}
.borderLeft {
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0px;
   PADDING-BOTTOM: 0px;
   MARGIN: 0px;
   VERTICAL-ALIGN: top;
   WIDTH: 50%;
   PADDING-TOP: 0px;
   BACKGROUND-REPEAT: repeat-y
}
.borderRight {
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0px;
   PADDING-BOTTOM: 0px;
   MARGIN: 0px;
   VERTICAL-ALIGN: top;
   WIDTH: 50%;
   PADDING-TOP: 0px;
   BACKGROUND-REPEAT: repeat-y
}

TABLE.SmTitleHead {
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0px;
   BACKGROUND-IMAGE: url(../NB/nbh.gif);
   PADDING-BOTTOM: 0px;
   MARGIN: 0px;
   WIDTH: 100%;
   BORDER-TOP-STYLE: none;
   PADDING-TOP: 0px;
   BACKGROUND-REPEAT: repeat-x;
   BORDER-RIGHT-STYLE: none;
   BORDER-LEFT-STYLE: none;
   BORDER-COLLAPSE: collapse;
   HEIGHT: 29px;
   BACKGROUND-COLOR: #5c8ac4;
   BORDER-BOTTOM-STYLE: none
}
TD.SmTitle {
   PADDING-RIGHT: 10px!
   important; PADDING-LEFT: 10px!
   important; FONT-WEIGHT:
   normal; FONT-SIZE: 12px;
   PADDING-BOTTOM: 0px!
   important; WIDTH: 100%;
   COLOR: white;
   PADDING-TOP: 7px! important; WHITE-SPACE: nowrap
}
