<?xml version="1.0" encoding="UTF-8"?>
<Group _uuid="1c781cd6-1218-4e40-bd17-9456c29b8b0c" name="game.persistence" label="游戏属性" is_valid="Y" note="M#" is_server="Y" is_server_cpp="Y" is_server_java="N" is_client="N" is_client_cpp="N" is_client_as="N" is_client_cs="Y" is_client_java="N" source_name="MoMgEnumPersistence" code="Egp" code_name="GmPersistence" full_code="EnumPersistence" display_index="26" project_name="/Common/MoDefineEnum" project_code="MgEm" is_include="Y" code_prefix="Gp">
  <Enum _uuid="b51f6a08-7366-47d9-bd31-5162e232d41b" name="GpAccount" label="用户账号" is_valid="Y" note="M#">
    <Item _uuid="36cbce7a-c627-472c-861f-d47d8c3be7f4" name="AccountId" label="账号编号" is_valid="Y" note="M#" value="1" />
    <Item _uuid="c32c220b-842a-4300-b5d0-f7c1afd7bd10" name="StatusCd" label="状态" is_valid="Y" note="M#" value="2" />
    <Item _uuid="eba6ce75-78a5-487b-84a4-e3abe378a4fe" name="Flags" label="标志" is_valid="Y" note="M#" value="3" />
    <Item _uuid="03a30699-faa2-4918-ac6f-53e124caa4ce" name="Passport" label="通行证" is_valid="Y" note="M#" value="4" />
    <Item _uuid="79fb425e-c559-4710-9cd0-0aab13dc3af9" name="Password" label="密码" is_valid="Y" note="M#" value="5" />
    <Item _uuid="22059fb3-b02d-46d9-b589-164df8c8ff11" name="Label" label="名称" is_valid="Y" note="M#" value="6" />
  </Enum>
  <Enum _uuid="df637fa3-ee6f-4d39-b2e2-758e2150c20f" name="GpRole" label="用户角色" is_valid="Y" note="M#">
    <Item _uuid="f04e990d-9169-42f8-bbd3-e89c213bd6c2" name="RoleId" label="角色编号" is_valid="Y" note="M#" value="7" />
    <Item _uuid="7906100a-a18e-47aa-96fa-0b105b02918e" name="StatusCd" label="状态" is_valid="Y" note="M#" value="8" />
    <Item _uuid="4fd46402-4cb8-4b65-89b7-d9a017940ab4" name="Flags" label="标志" is_valid="Y" note="M#" value="9" />
    <Item _uuid="b4e37e67-eef8-4279-881b-d5ef10a905b6" name="RoleTid" label="角色模板编号" is_valid="Y" note="M#" value="10" />
    <Item _uuid="199a2d0d-d699-4983-9ca1-89ec6af4d7d1" name="OfflineLineTid" label="离线分线" is_valid="Y" note="M#" value="11" />
    <Item _uuid="28ab1d7f-66ad-4be6-9f0b-34d3a91c4fca" name="OfflineMapTid" label="离线地图编号" is_valid="Y" note="M#" value="12" />
    <Item _uuid="b09800f5-b6de-4436-8ec1-e7ce878760fd" name="OfflineLocation" label="离线坐标" is_valid="Y" note="M#" value="13" />
    <Item _uuid="896658be-3d71-4f8c-88e0-b7f645312009" name="OfflineDirectionCd" label="离线方向" is_valid="Y" note="M#" value="14" />
    <Item _uuid="39e8cf16-45d5-474a-90b6-7f75e7f2edf6" name="CopyLineTid" label="副本分线" is_valid="Y" note="M#" value="15" />
    <Item _uuid="34236c2b-c10a-4074-9003-a7a8c15c035e" name="CopyMapTid" label="副本地图编号" is_valid="Y" note="M#" value="16" />
    <Item _uuid="309d33db-6291-4dab-bb94-5097706e7eec" name="CopyLocation" label="副本坐标" is_valid="Y" note="M#" value="17" />
    <Item _uuid="1d2ff770-0381-43b3-919b-821f010fe4ed" name="CopyDirectionCd" label="副本方向" is_valid="Y" note="M#" value="18" />
    <Item _uuid="5c9f406b-fc4b-49c2-bb60-8b825220c74b" name="Currency" label="货币" is_valid="Y" note="M#" value="19" />
    <Item _uuid="e4d48d17-5c4c-4094-82c3-f282dfa47558" name="DepotCurrency" label="仓库货币" is_valid="Y" note="M#" value="20" />
    <Item _uuid="fb293135-b4a4-4ac5-b7e5-8ce9d52f8082" name="Experience" label="经验" is_valid="Y" note="M#" value="21" />
    <Item _uuid="2a14287f-5545-4813-bff4-e57458ed4798" name="SkillPoint" label="技能点" is_valid="Y" note="M#" value="22" />
    <Item _uuid="10be840b-cae6-48fd-a78a-3a458cfa90a3" name="SocietyId" label="帮会编号" is_valid="Y" note="M#" value="23" />
    <Item _uuid="18970a64-4c98-43c0-b778-1cf06bc7496c" name="VipLevel" label="会员等级" is_valid="Y" note="M#" value="24" />
    <Item _uuid="72294cb5-3541-4606-a28e-ff5a353a5641" name="SurplusDoubleExpTime" label="剩余双倍经验时间" is_valid="Y" note="M#" value="25" />
    <Item _uuid="06a4a69f-8bee-4051-8494-9706ac9b2316" name="AvaliableDoubleExpTime" label="可用双倍经验时间" is_valid="Y" note="M#" value="26" />
    <Item _uuid="721d1e00-6a6f-4e36-8dec-122e3e1d9f26" name="StartDoubleExpTime" label="开始双倍经验时间" is_valid="Y" note="M#" value="27" />
    <Item _uuid="ff610346-2e71-42ba-b4c9-f786f390cb7f" name="Crystal" label="真元" is_valid="Y" note="M#" value="81" />
    <Item _uuid="ebea91e6-e044-49da-abfb-7c802e7db5cc" name="MetierContribution" label="门贡" is_valid="Y" note="M#" value="101" />
  </Enum>
  <Enum _uuid="ed72071d-3098-4f9d-a688-98bd8303bad8" name="GpEntity" label="实体" is_valid="Y" note="M#">
    <Item _uuid="03f17d0f-a70c-48d4-ba7c-098d63ca682d" name="Label" label="种族" is_valid="Y" note="M#" value="28" />
    <Item _uuid="972bbc7a-f43d-4fc9-ab25-0a3714ac69ec" name="LineId" label="分线" is_valid="Y" note="M#" value="29" />
    <Item _uuid="1abf8d9f-670e-4937-9f72-d5c65a573eba" name="MapId" label="地图编号" is_valid="Y" note="M#" value="30" />
    <Item _uuid="7c6b32c5-60a4-46c9-9f12-169993171a45" name="CellId" label="单元格编号" is_valid="Y" note="M#" value="31" />
    <Item _uuid="842b053d-e2f2-46c3-91a4-6505dc0cc7d3" name="Location" label="坐标" is_valid="Y" note="M#" value="32" />
    <Item _uuid="ce18bd8c-1c22-4e0b-acee-1c621da69ca4" name="Direction" label="方向" is_valid="Y" note="M#" value="33" />
    <Item _uuid="8ef1de82-4dce-4853-aac0-2109e8336db6" name="Range" label="范围" is_valid="Y" note="M#" value="34" />
  </Enum>
  <Enum _uuid="27f8feee-9403-4d2a-abe6-f846ff6150ee" name="GpSprite" label="精灵" is_valid="Y" note="M#">
    <Item _uuid="4a31b796-5aea-444a-a8c1-b3f2fc895569" name="Speed" label="速度" is_valid="Y" note="M#" value="35" />
  </Enum>
  <Enum _uuid="ca3ca548-64c0-404d-93a5-9e0249f606aa" name="GpCharacter" label="角色" is_valid="Y" note="M#">
    <Item _uuid="8939269f-299b-4cf9-9147-a288323b25cc" name="RaceFlags" label="种族" is_valid="Y" note="M#" value="36" />
    <Item _uuid="37b0a206-60c1-49f8-acfd-1af5c86e58dd" name="GenderTid" label="性别模板编号" is_valid="Y" note="M#" value="37" />
    <Item _uuid="57ff8628-e85d-4750-9a58-06c71b2289fa" name="MetierTid" label="职业模板编号" is_valid="Y" note="M#" value="38" />
    <Item _uuid="7a3572ff-2649-49cb-b768-27ed2ea0d229" name="MatrixTid" label="阵法模板编号" is_valid="Y" note="M#" value="39" />
    <Item _uuid="085f52e9-d7b6-458d-8c5c-62d82653d9ce" name="Level" label="级别" is_valid="Y" note="M#" value="40" />
    <Item _uuid="ec875de2-a7ab-4722-bae0-f991b2b64719" name="Hp" label="角色生命值" is_valid="Y" note="M#" value="41" />
    <Item _uuid="d25d4491-c260-4fa6-abbc-03fd50592869" name="HpCurrent" label="角色当前生命值" is_valid="Y" note="M#" value="42" />
    <Item _uuid="bd882d85-0399-4814-9ac3-f911c778afca" name="HpMax" label="角色最大生命值" is_valid="Y" note="M#" value="43" />
    <Item _uuid="4e3672c0-9af9-42dc-9ed7-d62dcc4cbadd" name="HpRevive" label="角色回复生命值" is_valid="Y" note="M#" value="44" />
    <Item _uuid="759a0430-1168-4a02-9d1f-fdaa6d60fc03" name="Mp" label="角色魔法值" is_valid="Y" note="M#" value="45" />
    <Item _uuid="306dd6ea-2393-40fb-b051-530904daa3b2" name="MpCurrent" label="角色当前魔法值" is_valid="Y" note="M#" value="46" />
    <Item _uuid="631a19c9-9e19-4171-bf94-17ba75255ecc" name="MpMax" label="角色最大魔法值" is_valid="Y" note="M#" value="47" />
    <Item _uuid="0d49c79e-c020-4449-b274-f8b29db9c7f1" name="MpRevive" label="角色回复魔法值" is_valid="Y" note="M#" value="48" />
    <Item _uuid="90590d38-51a6-4a07-bc88-a8215c227de2" name="Lp" label="角色活力值" is_valid="Y" note="M#" value="49" />
    <Item _uuid="670ea468-dc0f-4c8b-b0e4-4d3ee2195caf" name="LpCurrent" label="角色当前活力值" is_valid="Y" note="M#" value="50" />
    <Item _uuid="65c0ccb3-51f5-4c3f-a3f2-bb1f10a62fa9" name="LpMax" label="角色最大活力值" is_valid="Y" note="M#" value="51" />
    <Item _uuid="3df4f328-98b3-47bc-9632-dce2252f2f57" name="LpRevive" label="角色回复活力值" is_valid="Y" note="M#" value="52" />
    <Item _uuid="69860d08-c5e6-4147-936a-a8cbb8080e2e" name="Ep" label="角色精力值" is_valid="Y" note="M#" value="53" />
    <Item _uuid="5fe70998-3df1-4e4f-95b6-acede8fa8cdf" name="EpCurrent" label="角色当前精力值" is_valid="Y" note="M#" value="54" />
    <Item _uuid="239ef59b-61a5-48c5-8647-7535e2e07016" name="EpMax" label="角色最大精力值" is_valid="Y" note="M#" value="55" />
    <Item _uuid="7dc5c7b4-ac48-4113-99c9-f3eefb625396" name="EpRevive" label="角色回复精力值" is_valid="Y" note="M#" value="56" />
    <Item _uuid="9850711b-5163-4db9-8ab0-2cad685d9f04" name="Ap" label="角色怒气值" is_valid="Y" note="M#" value="57" />
    <Item _uuid="b58af83a-0fc8-4509-a2d1-e14c87c290ce" name="ApCurrent" label="角色当前怒气值" is_valid="Y" note="M#" value="58" />
    <Item _uuid="b95bc6af-4e5d-4157-9bb3-2fb854b2e260" name="ApMax" label="角色最大怒气值" is_valid="Y" note="M#" value="59" />
    <Item _uuid="6597810d-deb0-4e8d-8278-fcbafcce91c6" name="ApRevive" label="角色回复怒气值" is_valid="Y" note="M#" value="60" />
    <Item _uuid="d6783ec1-4215-4a9c-a964-2a66368771a1" name="Vitality" label="体质" is_valid="Y" note="M#" value="61" />
    <Item _uuid="9ee820ef-17f0-4938-bd9b-000137d133cf" name="Strength" label="力量" is_valid="Y" note="M#" value="62" />
    <Item _uuid="307a2b6e-b0d2-4054-8ee2-95968beafc12" name="Stamina" label="耐力" is_valid="Y" note="M#" value="63" />
    <Item _uuid="d927c263-1486-432a-b7b9-756c22517c5f" name="Intelligence" label="智力" is_valid="Y" note="M#" value="64" />
    <Item _uuid="bc79a20c-deb4-4a3d-8e00-9ca6010968a4" name="Magic" label="魔力" is_valid="Y" note="M#" value="65" />
    <Item _uuid="7a0446e9-db45-4369-a08a-bfc3ebe888e5" name="Energy" label="精神" is_valid="Y" note="M#" value="66" />
    <Item _uuid="53da0948-7e91-418d-9212-2dc3759da68f" name="Agility" label="敏捷" is_valid="Y" note="M#" value="67" />
    <Item _uuid="efdd833f-cbe5-4142-a408-7923c67dec61" name="Dexterity" label="灵巧" is_valid="Y" note="M#" value="68" />
    <Item _uuid="b59ef454-4ca3-439b-a46d-9433b443234a" name="Mobility" label="行动值（速度）" is_valid="Y" note="M#" value="69" />
    <Item _uuid="8b28b35e-ad46-4ef2-bd78-4f1b7f06be51" name="Damage" label="暴击伤害" is_valid="Y" note="M#" value="70" />
    <Item _uuid="a5045358-e9aa-4a2c-9e5f-716e6238270d" name="Block" label="格挡值" is_valid="Y" note="M#" value="71" />
    <Item _uuid="8c7e8edd-2047-49dd-8b63-4648349acfe4" name="Cri" label="暴击值" is_valid="Y" note="M#" value="72" />
    <Item _uuid="26aac775-f90a-46ed-8465-f0ef9a71afb8" name="Hit" label="命中值" is_valid="Y" note="M#" value="73" />
    <Item _uuid="961c7a84-f6b4-4407-acfe-0f4f73e31900" name="Dodge" label="闪避值" is_valid="Y" note="M#" value="74" />
    <Item _uuid="ba7b6313-7035-42b0-a22e-6adfcde3e530" name="AttackPhysical" label="物理攻击力" is_valid="Y" note="M#" value="75" />
    <Item _uuid="d8e52ecc-e4c9-4559-8c4d-dfe24821ec05" name="AttackPuncture" label="穿刺攻击力" is_valid="Y" note="M#" value="76" />
    <Item _uuid="3a812768-fbd6-4220-aa66-737017f8ba68" name="AttackMagic" label="魔法攻击力" is_valid="Y" note="M#" value="77" />
    <Item _uuid="8ae1901c-9b5f-4e68-94ae-9101ea6e4a66" name="DefencePhysical" label="物理防御力" is_valid="Y" note="M#" value="78" />
    <Item _uuid="9dbbf84e-15ad-428e-9d83-648cc2b60ba8" name="DefencePuncture" label="穿刺防御力" is_valid="Y" note="M#" value="79" />
    <Item _uuid="19c2d557-1e2d-4af0-a64a-1b3aea223338" name="DefenceMagic" label="魔法防御力" is_valid="Y" note="M#" value="80" />
    <Item _uuid="9b04fe15-477c-462d-adba-26fc27a5f1f2" name="Destruction" label="破击" is_valid="Y" note="M#" value="121" />
  </Enum>
  <Enum _uuid="10dfc9af-6ed7-4cdc-b930-156695d770a1" name="GpPlayer" label="玩家" is_valid="Y" note="M#" />
  <Enum _uuid="455d6701-52d3-4121-bb8b-7ff791070209" name="GpNpc" label="NPC" is_valid="Y" note="M#" />
</Group>

