<?xml version="1.0" encoding="UTF-8"?>
<Group _uuid="4kUIa4Yo5FFWfMqoep8xrg" name="system" label="系统" is_valid="Y" type_cd="P">
  <List _uuid="GUpcVM8AJYpiMPePvcYMtg" name="record" label="记录" is_valid="Y" type_cd="P">
    <Translate _uuid="bUk]0Py[FPCb8kgfnwBktg" name="lock" label="记录锁定" is_valid="Y" type_cd="P" status_cd="A" content="1" create_user_code="0391" zh_content="记录锁定。" />
    <Translate _uuid="TksQ3ZgK]I4TnvxSugpFkg" name="not.exists" label="记录不存在" is_valid="Y" type_cd="P" status_cd="A" content="1" create_user_code="0391" zh_content="系统超时，请重新登录。" />
    <Translate _uuid="wkBAXhc[77G3B7QcQz4wsg" name="duplicate" label="记录操作重复" is_valid="Y" type_cd="P" status_cd="A" content="1" create_user_code="0391" zh_content="记录重复错误。" />
    <Translate _uuid="]EwaiolsoZv1WHT4RzU0og" name="changed" label="记录已经发生变更" is_valid="Y" type_cd="P" status_cd="A" content="1" create_user_code="0391" zh_content="记录已经发生变更。" />
    <Translate _uuid="rk011STyqAKaGFOjm4UygQ" name="field.length" label="【{0}】最大长度不允许超出【{1}】字符。" is_valid="Y" type_cd="P" status_cd="A" content="field.length" zh_content="【{0}】最大长度不允许超出【{1}】字符。" />
    <Translate _uuid="2UT83DkBzsReiIS7EW8yqQ" name="field.type" label="【{0}】内容只允许填写【{1}】。" is_valid="Y" type_cd="P" status_cd="A" content="field.type" create_user_code="213" zh_content="【{0}】内容只允许填写【{1}】。" />
    <Translate _uuid="[0JPAacTipkSJA1jiuMkuw" name="string.type" label="字符串" is_valid="Y" type_cd="P" status_cd="A" content="string.type" zh_content="字符串" />
    <Translate _uuid="OUDb52WkrsP1ysPrVY8Vgg" name="number.type" label="数字" is_valid="Y" type_cd="P" status_cd="A" content="number.type" zh_content="数字" />
    <Translate _uuid="fE9rlEd0zzIgtq[6]fEXhA" name="date.type" label="日期时间" is_valid="Y" type_cd="P" status_cd="A" content="date.type" zh_content="日期时间" />
    <Translate _uuid="HEG5ty5NzMsEVfjByvX8rA" name="boolean.type" label="Y/N" is_valid="Y" type_cd="P" status_cd="A" content="boolean.type" zh_content="Y/N" />
  </List>
  <List _uuid="GkbKasMhp2hILoChKnfHpw" name="table" label="表" is_valid="Y" type_cd="P">
    <Translate _uuid="PkfDscJ43j5an4[VacNDnQ" name="lock" label="表锁定" is_valid="Y" type_cd="P" status_cd="A" content="1" create_user_code="0391" zh_content="表锁定。" />
  </List>
</Group>

