.FrameTitle
   {
   background-color:#FFFFFF;
   }

.FrameCatalog
   {
   background-color:#FFFFFF;
   }

.FrameMain
   {
   background-color:#FFFFFF;
   }

.Frame_Workspace
   {
   margin:0;
   background-color:#FFFFFF;
   }

.Workspace_TitleBar
   {
   height:26;
   padding:0 8;
   background-color:#D3F2F9;
   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#D3F2F9,endcolorstr=#FFFFFF);
   }
.Workspace_HistoryBar
   {
   width:100%;
   overflow:hidden;
   }
.Workspace_ToolBar
   {
   width:100%;
   overflow:hidden;
   }
.Workspace_FormSpace
   {
   padding:8;
   width:100%;
   height:100%;
   overflow:auto;
   }

/* ------------------------------------------------------ *
 * FLgMenu                                                *
 * ------------------------------------------------------ */
.FLgMenu_MenuNormal{
   white-space: nowrap;
   color:#000000;
   background-color:#FFFFFF;
   text-align:center;
   padding-top:6;
   padding-left:3;
   padding-bottom:4;
   padding-right:3;
   font-weight:bolder;
   font-size: 10pt;
   }
.FLgMenu_MenuHover{
   white-space: nowrap;
   color:#a8ebeb; background-color:#666666; text-align:center;
   padding-top:5; padding-left:3; padding-bottom:3; padding-right:3;
   font-weight:bolder;
   font-size: 10pt;
   cursor:hand;
   }
.FLgMenu_MenuSelect{
   white-space: nowrap;
   color:#a8ebeb; background-color:#000000; text-align:center;
   padding-top:5; padding-left:12; padding-bottom:3; padding-right:12;
   font-weight:bolder;
   font-size: 10pt;
   }

/* ------------------------------------------------------ *
 * FLgMenu                                                *
 * ------------------------------------------------------ */
 .FLgSubMenu_ButtonNormal{
   cursor:hand;
   color:#BBBBBB;
   padding-top:0; padding-left:12; padding-bottom:0; padding-right:12;
   }
.FLgSubMenu_ButtonHover{
   cursor:hand;
   color:#FFFFFF;
   border:1 solid #CCCCCC;
   padding-top:0; padding-left:11; padding-bottom:0; padding-right:11;
   }
.FLgSubMenu_ButtonSelect{
   cursor:hand;
   color:#FFFFFF;
   border:1 solid #999999;
   padding-top:0; padding-left:11; padding-bottom:0; padding-right:11;
   }


.Frame_MenuLink {
   color: #FFFFFF;
   font-weight: bold;
}
.STYLE2 {font-weight: bold}
.DivShadow {
   filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='img/shadow2.png', sizingMethod='crop');
   background: none;
}
.STYLE3 {color: #999999}
.STYLE7 {color: #999999; font-weight: bold; }
.STYLE8 {color: #FF0000}

/* ------------------------------------------------------- *
 * Ò³Ãæµ¼º½²Ëµ¥                                            *
 * ------------------------------------------------------- */
.NavMenu_Border{
   width:800;
   padding-bottom:8;
   }
.NavMenu_Caption{
   font-size:16pt;
   padding:12 12;
   font-weight:bold;
   color:5959FA;
   }
.NavMenu_Little_Caption{
   font-size:11pt;
   padding:8 8;
   font-weight:bold;
   color:#b8860b;
   }
.NavMenu_Text{
   font-size:9pt;
   line-height:18px;
   padding:0 12;
   color:#666666;
   }
.NavMenu_SubTitle{
   font-size:9pt;
   font-weight:bold;
   color:FF9000;
   }
.NavMenu_SubSpan{
   height:1;
   }
.NavMenu_SubLine{
   border-bottom:1 dotted #999999;
   }
.NavMenu_SubText{
   font-size:9pt;
   line-height:12pt;
   color:666666;
   }
.NavMenu_SubHerf{
   color:FF9000;
   }
.NavMenu_SubPad{
   width:20;
   }
.NavMenu_SubNodePad{
   width:20;
   }
.NavMenu_SubSubHerf{
   color:FF9000;
   }
.NavMenu_SubSubPad{
   width:20;
   }
.NavMenu_SubSubNodePad{
   width:20;
   }
.NavMenu_Sub3Herf{
   color:FF6033;
   }
.NavMenu_SubNode{
   white-space:nowrap;
   color:#666666;
   padding-left:24;
   font-weight:bold;
   }
.NavMenu_Sub3Node{
   white-space:nowrap;
   color:#666666;
   padding-left:48;
   }
.NavMenu_Node{
   white-space:nowrap;
   font-weight:bold;
   color:#666666;
   width:160;
   }
.NavMenu_Head{
   white-space:nowrap;
   font-weight:bold;
   color:#666666;
   }
.NavMenu_SubHead{
   white-space:nowrap;
   font-weight:bold;
   color:#666666;
   }

.NavMenu_NodeLength{
   white-space:nowrap;
   font-weight:bold;
   color:#666666;
   width:320;
   }
.NavMenu_NodeText{
   color:#666666;
   }
.NavMenu_HelpText{
   color:#666666;
   }
.NavMenu_Warn{
   padding:6;
   color:#FE7854;
   background-color:#FFF1D8;
   white-space:nowrap;
   border: 1 solid #E35111;
   width:100%;
   }
.NavMenu_Notify{
   white-space:nowrap;
   font-weight:bold;
   color:#666666;
   width:140;
   }
.NavMenu_Info{
   padding:6;
   color:#234700;
   background-color:#F3F9EC;
   white-space:nowrap;
   border: 1 solid #6FD600;
   width:100%;
   }
.NavMenu_Note{
   white-space:nowrap;
   font-weight:bold;
   color:#666666;
   width:140;
   }
.NavMenu_Hint{
   white-space:nowrap;
   font-weight:bold;
   color:#666666;
   width:140;
   }




/* ------------------------------------------------------ *
 * FFormWindow                                            *
 * ------------------------------------------------------ */
.FFormWindow_Panel
   {
   width: 800;
   height: 600;
   position: absolute;
   }
.FFormWindow_ButtonPanel
   {
   background-color: #CCCCCC;
   width: 100%;
   height: 1;
   border-left: 1 solid #999999;
   border-top: 1 solid #999999;
   border-right: 1 solid #EEEEEE;
   border-bottom: 1 solid #EEEEEE;
   }





.FDate_Drop
   {
   border: 0 none;
   }
.FTime_Drop
   {
   border: 0 none;
   }



/* ------------------------------------------------------ *
 * FHistoryButton                                         *
 * ------------------------------------------------------ */
.FFormSpace_Panel
   {
   width: 1;
   padding-left: 2;
   padding-right: 2;
   font-weight: undefined;
   }
.FFormSpace_Button
   {
   cursor: hand;
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #29BAD5;
   }
.FFormSpace_Hover
   {
   cursor: hand;
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #7B7975;
   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#F1F9FC,endcolorstr=#5FC5DA);
   }
.FFormSpace_Select
   {
   cursor: hand;
   width: 1;
   border-left: 1 solid #FFFFFF;
   border-right: 1 solid #7B7975;
   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=0,startcolorstr=#5FC5DA,endcolorstr=#F1F9FC);
   }

