<?xml version="1.0" encoding="UTF-8"?>

<Configuration>

   <Config
		name       = 'Action'
		class      = 'org.mo.web.core.action.common.XAopAction'
		collection = 'org.mo.web.core.action.common.XAopActionCollection' />

   <Config
		name       = 'Actions'
		class      = 'org.mo.web.core.action.common.XAopActions'
		collection = 'org.mo.web.core.action.common.XAopActionsCollection' />

   <Config
		name       = 'WebService'
		class      = 'org.mo.web.core.service.common.XAopService'
		collection = 'org.mo.web.core.service.common.XAopServiceCollection' />

   <Config
		name       = 'WebServlet'
		class      = 'org.mo.web.core.servlet.common.XAopServlet'
		collection = 'org.mo.web.core.servlet.common.XAopServletCollection' />

</Configuration>
