<?xml version="1.0" encoding="UTF-8"?>
<Environment _uuid="RUUfdcD1eGPgs0]w5Q[]mg" name="system.context" label="M#12cn14系统环境" is_valid="Y" note="M#">
  <Property _uuid="A0zGkJ3Y[97hVX9HFkFjmQ" name="server.http.url" label="M#12cn16页面服务地址" is_valid="Y" note="M#" data_type="String" data_value="http://192.168.41.17:88/eUIS">
    <Variable _uuid="KUg7Up1ESHX]rwPeupC2hg" name="bj.external" label="M#12cn14北京外网" is_valid="Y" note="M#" server="WB.BJ.EX" data_value="http://192.168.41.191" />
    <Variable _uuid="mkD7b9jAc]yOtCHkaFHIog" name="bj.internal" label="M#12cn14北京内网" is_valid="Y" note="M#" server="WB.BJ.IN" data_value="http://10.10.42.222" />
  </Property>
  <Property _uuid="oUiyuoHpa6np0CIVSh[cuQ" name="server.http.port" label="M#12cn16页面服务端口" is_valid="Y" note="M#" data_type="String" data_value="88">
    <Variable _uuid="e0mftOWPgGt]Bx9WA6c6gA" name="bj.external" label="M#12cn14北京外网" is_valid="Y" note="M#" server="WB.BJ.EX" data_value="80" />
    <Variable _uuid="s09lc2G]V4zAG5EeK6m6oQ" name="bj.internal" label="M#12cn14北京内网" is_valid="Y" note="M#" server="WB.BJ.IN" data_value="80" />
  </Property>
</Environment>

