
/* ------------------------------------------------------ *
 * FEdit                                                  *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCheck                                                 *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FNumber                                                *
 * ------------------------------------------------------ */
.FNumber_Unit
   {
   }
.FNumber_ArrayForm
   {
   }
.FNumber_UpButton
   {
   }
.FNumber_DownButton
   {
   }
.FNumber_AdjustForm
   {
   }
.FNumber_UpButton
   {
   }
.FNumber_DownButton
   {
   }
/* ------------------------------------------------------ *
 * FColorPicker                                           *
 * ------------------------------------------------------ */
.FColorPicker_Drop
   {
   }

/* ------------------------------------------------------ *
 * FCalendar                                              *
 * ------------------------------------------------------ */
.FCalendar_Drop
   {
   }

/* ------------------------------------------------------ *
 * FButton                                                *
 * ------------------------------------------------------ */
.FButton_Icon
   {
   }
.FButton_Label
   {
   }
.FButton_Form
   {
   }

/* ------------------------------------------------------ *
 * FMemo                                                  *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FHtmlMemo                                              *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FSelect                                                *
 * ------------------------------------------------------ */
.FSelect_Drop
   {
   }

/* ------------------------------------------------------ *
 * FSplit                                                 *
 * ------------------------------------------------------ */
.FSplit_Title
   {
   }
.FSplit_Design
   {
   }
.FSplit_DesignHover
   {
   }
.FSplit_DesignDrag
   {
   }
.FSplit_DesignMove
   {
   }

/* ------------------------------------------------------ *
 * FControl                                               *
 * ------------------------------------------------------ */
.FControl_Panel
   {
   }
.FControl_Design
   {
   }
.FControl_DesignHover
   {
   }
.FControl_DesignDrag
   {
   }
.FControl_DesignMove
   {
   }

/* ------------------------------------------------------ *
 * Tag                                                    *
 * ------------------------------------------------------ */
.Tag_Image
   {
   }
.Tag_Icon
   {
   }
.Tag_Icon_Disable
   {
   }
.Tag_Check
   {
   }
.Tag_Radio
   {
   }

/* ------------------------------------------------------ *
 * FListWindow                                            *
 * ------------------------------------------------------ */
.FListWindow_TablePanel
   {
   }
.FListWindow_ButtonPanel
   {
   }

/* ------------------------------------------------------ *
 * FSearchWindow                                          *
 * ------------------------------------------------------ */
.FSearchWindow_FieldPanel
   {
   }
.FSearchWindow_ButtonPanel
   {
   }

/* ------------------------------------------------------ *
 * FSelectEditor                                          *
 * ------------------------------------------------------ */
.FSelectEditor_Flag
   {
   }
.FSelectEditor_Row
   {
   }
.FSelectEditor_RowHover
   {
   }
.FSelectEditor_RowSelect
   {
   }
.FSelectEditor_EditForm
   {
   }

/* ------------------------------------------------------ *
 * FIconPicker                                            *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FTemplate                                              *
 * ------------------------------------------------------ */
.FTemplate_Design
   {
   }
.FTemplate_DesignHover
   {
   }
.FTemplate_DesignDrag
   {
   }
.FTemplate_DesignMove
   {
   }
.FTemplate_icon
   {
   }
.FTemplate_Title
   {
   }

/* ------------------------------------------------------ *
 * FRow                                                   *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnStatus                                          *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnCheck                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FToolBar                                               *
 * ------------------------------------------------------ */
.FToolBar_Button
   {
   }

/* ------------------------------------------------------ *
 * FToolButtonSplit                                       *
 * ------------------------------------------------------ */
.FToolButtonSplit_Button
   {
   }

/* ------------------------------------------------------ *
 * FMenuButtonSplit                                       *
 * ------------------------------------------------------ */
.FMenuButtonSplit_Up
   {
   }
.FMenuButtonSplit_Down
   {
   }

/* ------------------------------------------------------ *
 * FEditControl                                           *
 * ------------------------------------------------------ */
.FEditControl_Form
   {
   }
.FEditControl_LabelForm
   {
   }
.FEditControl_ControlForm
   {
   }
.FEditControl_EditForm
   {
   }
.FEditControl_Edit
   {
   }
.FEditControl_EditUnit
   {
   }
.FEditControl_DropPanel
   {
   }
.FEditControl_Unit
   {
   }

/* ------------------------------------------------------ *
 * FCheckPicker                                           *
 * ------------------------------------------------------ */
.FCheckPicker_Drop
   {
   }

/* ------------------------------------------------------ *
 * FCalendarEditor                                        *
 * ------------------------------------------------------ */
 .FCalendarEditor_Panel
   {
   position: absolute;
   border: 0;
   }
.FCalendarEditor_Edit
   {
   background-color: #DDFFDD;
   }
.FCalendarEditor_Button
   {
   }
.FCalendarEditor_ButtonHover
   {
   }
.FCalendarEditor_Day
   {
   }
.FCalendarEditor_DaySel
   {
   }
.FCalendarEditor_DayHover
   {
   }
.FCalendarEditor_DayFree
   {
   }
.FCalendarEditor_DayNone
   {
   }
.FCalendarEditor_TitlePanel
   {
   }
.FCalendarEditor_DaysPanel
   {
   }
.FCalendarEditor_TimePanel
   {
   width: 100%;
   border: 5 solid RED;

   filter: progid:DXImageTransform.Microsoft.Gradient(gradienttype=1,startcolorstr=#FFFFFF,endcolorstr=#eae3d5);
   }
.FCalendarEditor_Year
   {
   }
.FCalendarEditor_Month
   {
   }
.FCalendarEditor_Week
   {
   }
.FCalendarEditor_Time
   {
   }
.FCalendarEditor_Now
   {
   color: #1F8FB7;
   cursor: hand;
   width: 100%;
   font-weight: BOLD;
   text-align: center;
   }
.FCalendarEditor_Hour
   {
   color: #1F8FB7;
   background-color: #FFFFFF;
   width: 25;
   border: 0;
   font-weight: BOLD;
   text-align: center;
   }
.FCalendarEditor_Minute
   {
   color: #1F8FB7;
   background-color: #FFFFFF;
   width: 25;
   border: 0;
   font-weight: BOLD;
   text-align: center;
   }
.FCalendarEditor_Second
   {
   color: #1F8FB7;
   background-color: #FFFFFF;
   width: 25;
   border: 0;
   font-weight: BOLD;
   text-align: center;
   }
.FCalendarEditor_Split
   {
   color: #1F8FB7;
   background-color: #FFFFFF;
   width: 4;
   border-left: 0;
   border-top: 0;
   border-bottom: 0;
   border-right: 0;
   text-align: right;
   }
.FCalendarEditor_OK
   {
   color: #1F8FB7;
   width: 50;
   cursor: hand;
   font-weight: BOLD;
   text-align: center;
   }
.FCalendarEditor_YearMonth
   {
   }
.FCalendarEditor_ButtonPanel
   {
   text-align: right;
   }
.FCalendarEditor_ItemsForm
   {
   width: 100%;
   }

/* ------------------------------------------------------ *
 * FCellCalendar                                          *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellCheck                                             *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellEdit                                              *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellEditControl                                       *
 * ------------------------------------------------------ */
.FCellEditControl_Panel
   {
   }
.FCellEditControl_Edit
   {
   }
.FCellEditControl_EditSelect
   {
   }
.FCellEditControl_Readonly
   {
   }
.FCellEditControl_PanelSelect
   {
   }
.FCellEditControl_ReadonlySelect
   {
   }
.FCellEditControl_EditReadonly
   {
   }
.FCellEditControl_EditReadonlySelect
   {
   }

/* ------------------------------------------------------ *
 * FCellIcon                                              *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellNumber                                            *
 * ------------------------------------------------------ */
.FCellNumber_AdjustForm
   {
   }
.FCellNumber_Form
   {
   }
.FCellNumber_EditForm
   {
   }
.FCellNumber_UpButton
   {
   }
.FCellNumber_DownButton
   {
   }

/* ------------------------------------------------------ *
 * FCellPicture                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellProgress                                          *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellSelect                                            *
 * ------------------------------------------------------ */
.FCellSelect_Form
   {
   }
.FCellSelect_EditForm
   {
   }
.FCellSelect_DropForm
   {
   }
.FCellSelect_Drop
   {
   }

/* ------------------------------------------------------ *
 * FCellStatus                                            *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCheckPickerEditor                                     *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnCalendar                                        *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnColor                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnEdit                                            *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnEditControl                                     *
 * ------------------------------------------------------ */
.FColumnEditControl_SearchPanel
   {
   }
.FColumnEditControl_SearchEdit
   {
   }
.FColumnEditControl_HeadLabel
   {
   }
.FColumnEditControl_FixedPanel
   {
   }
.FColumnEditControl_SearchFixedPanel
   {
   }

/* ------------------------------------------------------ *
 * FColumnEmpty                                           *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnIcon                                            *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnNumber                                          *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnPicture                                         *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnProgress                                        *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColumnSelect                                          *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FColorPickerEditor                                     *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FWebForm                                               *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FWebTable                                              *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FEditor                                                *
 * ------------------------------------------------------ */
.FEditor_Edit
   {
   }

/* ------------------------------------------------------ *
 * FDropEditor                                            *
 * ------------------------------------------------------ */
.FDropEditor_ButtonPanel
   {
   }
.FDropEditor_DropPanel
   {
   }
.FDropEditor_DropForm
   {
   }

/* ------------------------------------------------------ *
 * FTreeView                                              *
 * ------------------------------------------------------ */
.FTreeView_NodePanel
   {
   }
.FTreeView_NodeForm
   {
   }

/* ------------------------------------------------------ *
 * FTreeColumn                                            *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FTreeLevel                                             *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FTreeNode                                              *
 * ------------------------------------------------------ */
.FTreeNode_Hover
   {
   }
.FTreeNode_Select
   {
   }
.FTreeNode_NodePanel
   {
   }
.FTreeNode_NodeHover
   {
   }
.FTreeNode_NodeSelect
   {
   }
.FTreeNode_Image
   {
   }
.FTreeNode_Icon
   {
   }
.FTreeNode_IconDisable
   {
   }
.FTreeNode_Cell
   {
   }

/* ------------------------------------------------------ *
 * FTreeNodeType                                          *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FWindow                                                *
 * ------------------------------------------------------ */
.FWindow_TitleForm
   {
   }
.FWindow_Inner
   {
   }
.FWindow_Caption
   {
   }
.FWindow_BodyHover
   {
   }
.FWindow_Button
   {
   }
.FWindow_TitlePanel
   {
   }
.FWindow_BodyPanel
   {
   }
.FWindow_BorderForm
   {
   }
.FWindow_TitleHover
   {
   }

/* ------------------------------------------------------ *
 * FMessageWindow                                         *
 * ------------------------------------------------------ */
.FMessageWindow_MsgPanel
   {
   }
.FMessageWindow_MsgTitle
   {
   }
.FMessageWindow_Message
   {
   }
.FMessageWindow_MessageIcon
   {
   }
.FMessageWindow_MessageText
   {
   }
.FMessageWindow_DescriptionPanel
   {
   }
.FMessageWindow_Description
   {
   }
.FMessageWindow_ButtonPanel
   {
   }

/* ------------------------------------------------------ *
 * FPageControl                                           *
 * ------------------------------------------------------ */
.FPageControl_TitlePanel
   {
   }
.FPageControl_TitleForm
   {
   }
.FPageControl_DataPanel
   {
   }
.FPageControl_DataForm
   {
   }
.FPageControl_Form
   {
   }

/* ------------------------------------------------------ *
 * FPageSheet                                             *
 * ------------------------------------------------------ */
.FPageSheet_Button
   {
   }
.FPageSheet_ButtonHover
   {
   }
.FPageSheet_ButtonSelect
   {
   }
.FPageSheet_Top
   {
   }
.FPageSheet_Left
   {
   }
.FPageSheet_Right
   {
   }
.FPageSheet_Bottom
   {
   }
.FPageSheet_DataPanel
   {
   }
.FPageSheet_TopSelect
   {
   }
.FPageSheet_LeftSelect
   {
   }
.FPageSheet_RightSelect
   {
   }
.FPageSheet_BottomSelect
   {
   }
.FPageSheet_ButtonText
   {
   }
.FPageSheet_RightPrior
   {
   }

/* ------------------------------------------------------ *
 * FToolButton                                            *
 * ------------------------------------------------------ */
.FToolButton_Button
   {
   }
.FToolButton_Label
   {
   }
.FToolButton_Disable
   {
   }
.FToolButton_Hover
   {
   }
.FToolButton_Press
   {
   }
.FToolButton_Icon
   {
   }
.FToolButton_IconDisable
   {
   }

/* ------------------------------------------------------ *
 * FToolButtonCheck                                       *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FToolButtonMenu                                        *
 * ------------------------------------------------------ */
.FToolButtonMenu_Drop
   {
   }

/* ------------------------------------------------------ *
 * FToolButtonText                                        *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FMenuButton                                            *
 * ------------------------------------------------------ */
.FMenuButton_Button
   {
   }
.FMenuButton_Label
   {
   }
.FMenuButton_Disable
   {
   }
.FMenuButton_Hover
   {
   }
.FMenuButton_Press
   {
   }

/* ------------------------------------------------------ *
 * FTable                                                 *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FForm                                                  *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FPanel                                                 *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FContainer                                             *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FPopupMenu                                             *
 * ------------------------------------------------------ */
.FPopupMenu_Label
   {
   }
.FPopupMenu_Button
   {
   }

/* ------------------------------------------------------ *
 * FListBox                                               *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FListItem                                              *
 * ------------------------------------------------------ */
.FListItem_Form
   {
   }
.FListItem_Icon
   {
   }
.FListItem_Label
   {
   }

/* ------------------------------------------------------ *
 * RWindow                                                *
 * ------------------------------------------------------ */
.RWindow_Disable
   {
   }
.RWindow_Shadow
   {
   }

/* ------------------------------------------------------ *
 * FDesignConsole                                         *
 * ------------------------------------------------------ */
.FDesignConsole_Split
   {
   }

/* ------------------------------------------------------ *
 * FCellColorPicker                                       *
 * ------------------------------------------------------ */
.FCellColorPicker_Form
   {
   }
.FCellColorPicker_EditForm
   {
   }
.FCellColorPicker_DropForm
   {
   }
.FCellColorPicker_Drop
   {
   }

/* ------------------------------------------------------ *
 * FCellCalendar                                          *
 * ------------------------------------------------------ */
.FCellCalendar_Form
   {
   }
.FCellCalendar_EditForm
   {
   }
.FCellCalendar_DropForm
   {
   }
.FCellCalendar_Drop
   {
   }
.FCellCalendar_PanelInvalid
   {
   }
.FCellCalendar_EditInvalid
   {
   }

/* ------------------------------------------------------ *
 * FPageTab                                               *
 * ------------------------------------------------------ */
.FPageTab_LabelPanel
   {
   }

/* ------------------------------------------------------ *
 * FColumnProcessStatus                                   *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FCellProcessStatus                                     *
 * ------------------------------------------------------ */
.FCellProcessStatus_Form
   {
   }
.FCellProcessStatus_Process
   {
   }

/* ------------------------------------------------------ *
 * FSelectItem                                            *
 * ------------------------------------------------------ */
.FSelectItem_Hover
   {
   }
.FSelectItem_Icon
   {
   }
.FSelectItem_Label
   {
   }
.FSelectItem_Select
   {
   }
.FSelectItem_Note
   {
   }

/* ------------------------------------------------------ *
 * FEditEditor                                            *
 * ------------------------------------------------------ */
.FEditEditor_ItemsForm
   {
   }

/* ------------------------------------------------------ *
 * FTimer                                                 *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FHistoryButton                                         *
 * ------------------------------------------------------ */
.FHistoryButton_Panel
   {
   font-weight: undefined;
   }

/* ------------------------------------------------------ *
 * FCell                                                  *
 * ------------------------------------------------------ */
.FCell_Panel
   {
   }
.FCell_PanelSelect
   {
   }

/* ------------------------------------------------------ *
 * FColumn                                                *
 * ------------------------------------------------------ */
.FColumn_FixedPanel
   {
   }
.FColumn_HeadLabel
   {
   }
.FColumn_SearchEdit
   {
   }
.FColumn_SearchFixedPanel
   {
   }
.FColumn_SearchPanel
   {
   }
.FColumnSelected_Edit
   {
   }

/* ------------------------------------------------------ *
 * FTitleButton                                           *
 * ------------------------------------------------------ */
.FTitleButton_Button
   {
   }
.FTitleButton_Icon
   {
   }
.FTitleButton_Label
   {
   }
.FTitleButton_Press
   {
   }
.FTitleButton_Hover
   {
   }

/* ------------------------------------------------------ *
 * FBrowser                                               *
 * ------------------------------------------------------ */

/* ------------------------------------------------------ *
 * FRowControl                                            *
 * ------------------------------------------------------ */
.FRowControl_Hover
   {
   }
.FRowControl_Select
   {
   }

/* ------------------------------------------------------ *
 * FGridControl                                           *
 * ------------------------------------------------------ */
.FGridControl_BorderPanel
   {
   }
.FGridControl_Button
   {
   }
.FGridControl_DataForm
   {
   }
.FGridControl_DataPanel
   {
   }
.FGridControl_HeadPanel
   {
   }
.FGridControl_HeadForm
   {
   }
.FGridControl_HeadLine
   {
   }
.FGridControl_SearchLine
   {
   }
.FGridControl_HintForm
   {
   }
.FGridControl_Hint
   {
   }

/* ------------------------------------------------------ *
 * MDescNumber                                            *
 * ------------------------------------------------------ */
.MDescNumber_Unit
   {
   }
.MDescNumber_AdjustForm
   {
   }
.MDescNumber_UpButton
   {
   }
.MDescNumber_DownButton
   {
   }
