<?xml version="1.0" encoding="UTF-8"?>
<TreeView _uuid="S0]fgUP7I68lv]ObyPVQgA" name="game.editor.module" label="M#12cn210系统-设计-共享实体" is_valid="Y" note="M#" is_config="N" disp_checked="N" service="catalog@game.editor.module">
  <TreeNodeType _uuid="8Ue[zT4vomI5yAQRSoSetA" name="group" label="M#12cn14实体分组" is_valid="Y" note="M#" type="collection" type_name="Group" icon="game.editor.module.group" action="list" attributes="form_name=game.editor.module.GroupForm" />
  <TreeNodeType _uuid="6kea1Gya[Pt6u8A9qy3Tqg" name="entity" label="M#12cn12实体" is_valid="Y" note="M#" type="component" type_name="Entity" icon="game.editor.module.module" action="list" attributes="form_name=game.editor.module.EntityForm" />
  <TreeNodeType _uuid="W0fsKsMjufjgcALkUOWdjQ" name="property" label="M#12cn13消息项" is_valid="Y" note="M#" type="component" type_name="Property" icon="game.editor.module.property" attributes="form_name=game.editor.module.PropertyForm" />
</TreeView>

