<?xml version="1.0" encoding="UTF-8"?>
<Root>
  <Context name="page.source">
    <jp>ｿｰｽ</jp>
  </Context>
  <Context name="page.translate">
    <jp>翻訳</jp>
  </Context>
  <Context name="page.information">
    <jp>ｲﾝﾌｫﾒｰｼｮﾝ</jp>
  </Context>
  <Context name="page.config">
    <jp>設定</jp>
  </Context>
  <Context name="page.permission">
    <jp>権限</jp>
  </Context>
  <Context name="page.help">
    <jp>ﾍﾙﾌﾟ</jp>
  </Context>
  <Context name="page.property">
    <jp>属性</jp>
  </Context>
  <Context name="page.sql">
    <jp>SQL</jp>
  </Context>
  <Context name="page.preview">
    <jp>ﾌﾟﾚﾋﾞｭｰ</jp>
  </Context>
  <Context name="page.permission.control">
    <jp>ｺﾝﾎﾟｰﾈﾝﾄ権限</jp>
  </Context>
  <Context name="page.memory">
    <jp>ﾒﾓﾘ</jp>
  </Context>
  <Context name="tree.document">
    <jp>Document</jp>
  </Context>
  <Context name="tree.design">
    <jp>Design</jp>
  </Context>
  <Context name="tree.source">
    <jp>Source</jp>
  </Context>
  <Context name="tree.source.java">
    <jp>Java Source</jp>
  </Context>
  <Context name="tree.source.web">
    <jp>WEB Source</jp>
  </Context>
  <Context name="tree.list">
    <jp>List</jp>
  </Context>
  <Context name="tree.database">
    <jp>Database</jp>
  </Context>
  <Context name="tree.dataset">
    <jp>Dataset</jp>
  </Context>
  <Context name="tree.window">
    <jp>Window</jp>
  </Context>
  <Context name="tree.report">
    <jp>Report</jp>
  </Context>
  <Context name="tree.translate">
    <jp>Translate</jp>
  </Context>
  <Context name="tree.translate.class">
    <jp>Java Class</jp>
  </Context>
  <Context name="tree.translate.javascript">
    <jp>Java Script</jp>
  </Context>
  <Context name="tree.translate.page">
    <jp>JSP Page</jp>
  </Context>
  <Context name="tree.translate.tree">
    <jp>Tree Control</jp>
  </Context>
  <Context name="tree.translate.property">
    <jp>Property</jp>
  </Context>
  <Context name="tree.translate.dataset">
    <jp>Dataset</jp>
  </Context>
  <Context name="tree.translate.window">
    <jp>Window</jp>
  </Context>
  <Context name="tree.navigator">
    <jp>Navigator</jp>
  </Context>
  <Context name="tree.monitor">
    <jp>Monitor</jp>
  </Context>
  <Context name="tree.monitor.memory">
    <jp>Memory View</jp>
  </Context>
  <Context name="tree.help">
    <jp>Help</jp>
  </Context>
</Root>

