<?xml version="1.0" encoding="UTF-8"?>
<Group _uuid="]0njyL5fSXknL[FD[xvttA" name="game.persistence" label="游戏属性" is_valid="Y" note="M#" is_server="Y" is_server_cpp="Y" is_server_java="N" is_client="N" is_client_cpp="N" is_client_as="N" is_client_cs="Y" is_client_java="N" source_name="MoMgEnumPersistence" code="Egp" code_name="GmPersistence" full_code="EnumPersistence" display_index="26" project_name="/Common/MoMessage" project_code="Mg" is_include="Y" code_prefix="Gp">
  <Enum _uuid="3kVulKvoTjZaXdryInhfgQ" name="GpAccount" label="用户账号" is_valid="Y" note="M#">
    <Item _uuid="g0PF20[sw9vspWA5VMworA" name="AccountId" label="账号编号" is_valid="Y" note="M#" value="1" />
    <Item _uuid="1E0nrtOg29VqO2jv3dUCvA" name="StatusCd" label="状态" is_valid="Y" note="M#" value="2" />
    <Item _uuid="30UaddF2n42Il6]]19P7qQ" name="Flags" label="标志" is_valid="Y" note="M#" value="3" />
    <Item _uuid="x0P2]o45L3[1fbLcjEksow" name="Passport" label="通行证" is_valid="Y" note="M#" value="4" />
    <Item _uuid="Z0GwhvwkCtNTxbo847KUlw" name="Password" label="密码" is_valid="Y" note="M#" value="5" />
    <Item _uuid="sE9euw1A0IHqQnJg6MHRpA" name="Label" label="名称" is_valid="Y" note="M#" value="6" />
  </Enum>
  <Enum _uuid="PklQ]NSi]MDNrRL9[1i4nA" name="GpRole" label="用户角色" is_valid="Y" note="M#">
    <Item _uuid="mErXMk[TmMWw52pvz]b0ug" name="RoleId" label="角色编号" is_valid="Y" note="M#" value="7" />
    <Item _uuid="ZUCRoSnDdlXhBK00vg2Lhg" name="StatusCd" label="状态" is_valid="Y" note="M#" value="8" />
    <Item _uuid="t0lOFILPa2s7OvVLd[FqvQ" name="Flags" label="标志" is_valid="Y" note="M#" value="9" />
    <Item _uuid="1EIT7u5Jd[PXVDa80ZuKqw" name="RoleTid" label="角色模板编号" is_valid="Y" note="M#" value="10" />
    <Item _uuid="pEec4t]WxI0MKsRgDZ7irQ" name="OfflineLineTid" label="离线分线" is_valid="Y" note="M#" value="11" />
    <Item _uuid="40haw97Vnslw[c3JR83RjA" name="OfflineMapTid" label="离线地图编号" is_valid="Y" note="M#" value="12" />
    <Item _uuid="akH1VsHKaaVIdkPTAnLGkw" name="OfflineLocation" label="离线坐标" is_valid="Y" note="M#" value="13" />
    <Item _uuid="WEWG3mnh8z5BzrUV7pyssw" name="OfflineDirectionCd" label="离线方向" is_valid="Y" note="M#" value="14" />
    <Item _uuid="LUnc[ZygzyYyfqSEyoADvw" name="CopyLineTid" label="副本分线" is_valid="Y" note="M#" value="15" />
    <Item _uuid="FEKqUKJ7A5veO6Pa3VxXng" name="CopyMapTid" label="副本地图编号" is_valid="Y" note="M#" value="16" />
    <Item _uuid="uUfsqxOd41FiYQxDzGeNuw" name="CopyLocation" label="副本坐标" is_valid="Y" note="M#" value="17" />
    <Item _uuid="b0MpQO[pHZU4U2VQW5iimA" name="CopyDirectionCd" label="副本方向" is_valid="Y" note="M#" value="18" />
    <Item _uuid="LkUv]K6s6AW7Ps4tkuGNjA" name="Currency" label="货币" is_valid="Y" note="M#" value="19" />
    <Item _uuid="904L6R8Uw]Zcnm[bFaFxog" name="DepotCurrency" label="仓库货币" is_valid="Y" note="M#" value="20" />
    <Item _uuid="gEpcjT0LEvEuUvssx6I6jA" name="Experience" label="经验" is_valid="Y" note="M#" value="21" />
    <Item _uuid="1U53DWd3uIctnBpderi3kQ" name="SkillPoint" label="技能点" is_valid="Y" note="M#" value="22" />
    <Item _uuid="v0vb2tlMUCy[aBroe8ooiA" name="SocietyId" label="帮会编号" is_valid="Y" note="M#" value="23" />
    <Item _uuid="WkBnfVuicaWKh15npMp4pQ" name="VipLevel" label="会员等级" is_valid="Y" note="M#" value="24" />
    <Item _uuid="V0LHbR5vUDrc33yhTCGmlw" name="SurplusDoubleExpTime" label="剩余双倍经验时间" is_valid="Y" note="M#" value="25" />
    <Item _uuid="lkHlaJcEJDdyCAc1gbeGmw" name="AvaliableDoubleExpTime" label="可用双倍经验时间" is_valid="Y" note="M#" value="26" />
    <Item _uuid="fUT5CAU4Lhyd5Tg8RWjTgg" name="StartDoubleExpTime" label="开始双倍经验时间" is_valid="Y" note="M#" value="27" />
    <Item _uuid="A0OFQfuyxEei6nK5]fZnnA" name="Crystal" label="真元" is_valid="Y" note="M#" value="81" />
    <Item _uuid="R0]mKie]fdH0O3I6lWwtsA" name="MetierContribution" label="门贡" is_valid="Y" note="M#" value="101" />
  </Enum>
  <Enum _uuid="BUBaKseFIqsleBk3HJxGig" name="GpEntity" label="实体" is_valid="Y" note="M#">
    <Item _uuid="f0bjH[VYiWzedDkHFvVdlQ" name="Label" label="种族" is_valid="Y" note="M#" value="28" />
    <Item _uuid="rEl4ajV6wdkZ2EVc5OlxgQ" name="LineId" label="分线" is_valid="Y" note="M#" value="29" />
    <Item _uuid="I0WqNHeNvrUPTKwI95FilA" name="MapId" label="地图编号" is_valid="Y" note="M#" value="30" />
    <Item _uuid="TU7DCQ3SJEyyLoKOJDl5jg" name="CellId" label="单元格编号" is_valid="Y" note="M#" value="31" />
    <Item _uuid="sUPV]YXx7C7cdr6YL]Xnig" name="Location" label="坐标" is_valid="Y" note="M#" value="32" />
    <Item _uuid="e0Ikule90rCmFHhJYxWCuQ" name="Direction" label="方向" is_valid="Y" note="M#" value="33" />
    <Item _uuid="UU8gK6ljFJ8P]GFoTxXalg" name="Range" label="范围" is_valid="Y" note="M#" value="34" />
  </Enum>
  <Enum _uuid="r0NzyOH8vYVG30ws[NXjjw" name="GpSprite" label="精灵" is_valid="Y" note="M#">
    <Item _uuid="b0RyYAyRr6R81BhKa4r6lg" name="Speed" label="速度" is_valid="Y" note="M#" value="35" />
  </Enum>
  <Enum _uuid="50uk4xHNS6HASKdt5GBanA" name="GpCharacter" label="角色" is_valid="Y" note="M#">
    <Item _uuid="iE7KHNJTpmWOA1JIvS83rA" name="RaceFlags" label="种族" is_valid="Y" note="M#" value="36" />
    <Item _uuid="UECM]zTFZtzIzPi[r[MdjA" name="GenderTid" label="性别模板编号" is_valid="Y" note="M#" value="37" />
    <Item _uuid="30pPL553iiq82dMCbblusQ" name="MetierTid" label="职业模板编号" is_valid="Y" note="M#" value="38" />
    <Item _uuid="6kkneGqskLEdA20D6ST3jQ" name="MatrixTid" label="阵法模板编号" is_valid="Y" note="M#" value="39" />
    <Item _uuid="iEykEEKHTGnX2l0[K1QxtA" name="Level" label="级别" is_valid="Y" note="M#" value="40" />
    <Item _uuid="V06ZbSpHWhJ45oGdTaFMoQ" name="Hp" label="角色生命值" is_valid="Y" note="M#" value="41" />
    <Item _uuid="70zy[c3]K]xVQzAmsDBspA" name="HpCurrent" label="角色当前生命值" is_valid="Y" note="M#" value="42" />
    <Item _uuid="R01VFPf[WiVs7ZWN2wDAvA" name="HpMax" label="角色最大生命值" is_valid="Y" note="M#" value="43" />
    <Item _uuid="RUlx0F]7uaAnEThTEopHtg" name="HpRevive" label="角色回复生命值" is_valid="Y" note="M#" value="44" />
    <Item _uuid="BE8rUxbygvgt4RnY9gBqgg" name="Mp" label="角色魔法值" is_valid="Y" note="M#" value="45" />
    <Item _uuid="MEiCFBjmHcNFaP26IcaGmw" name="MpCurrent" label="角色当前魔法值" is_valid="Y" note="M#" value="46" />
    <Item _uuid="jkJSA1Gpfq58pNF9DH8ctA" name="MpMax" label="角色最大魔法值" is_valid="Y" note="M#" value="47" />
    <Item _uuid="90kzZe8jIaQ2HZcuvWPCtA" name="MpRevive" label="角色回复魔法值" is_valid="Y" note="M#" value="48" />
    <Item _uuid="oE]bmvxB2CTAUJJHdlFRuQ" name="Lp" label="角色活力值" is_valid="Y" note="M#" value="49" />
    <Item _uuid="40xUZ6BOCZrw8kao5qWdpg" name="LpCurrent" label="角色当前活力值" is_valid="Y" note="M#" value="50" />
    <Item _uuid="n00nglrhzeTpNR0Yzvvqug" name="LpMax" label="角色最大活力值" is_valid="Y" note="M#" value="51" />
    <Item _uuid="wEu8qY7C1IZN]llTCYXojQ" name="LpRevive" label="角色回复活力值" is_valid="Y" note="M#" value="52" />
    <Item _uuid="RkWY3zjktDp2BHfmfBqFjQ" name="Ep" label="角色精力值" is_valid="Y" note="M#" value="53" />
    <Item _uuid="9EpEjam7Ly43hOdQ1DcJtg" name="EpCurrent" label="角色当前精力值" is_valid="Y" note="M#" value="54" />
    <Item _uuid="0UqeP[u6qn3tMmFq35Ggjw" name="EpMax" label="角色最大精力值" is_valid="Y" note="M#" value="55" />
    <Item _uuid="Y0FEPlNMU2aWOmQazEoZtw" name="EpRevive" label="角色回复精力值" is_valid="Y" note="M#" value="56" />
    <Item _uuid="X0QCAwbxVePTyPt5XLROgQ" name="Ap" label="角色怒气值" is_valid="Y" note="M#" value="57" />
    <Item _uuid="m0pLjhO81UCDVEoZCB4Fpg" name="ApCurrent" label="角色当前怒气值" is_valid="Y" note="M#" value="58" />
    <Item _uuid="OkLK7PQ6SnhUC6aqrq5Fig" name="ApMax" label="角色最大怒气值" is_valid="Y" note="M#" value="59" />
    <Item _uuid="qk70vFh0MPzQgBv2T7gtlw" name="ApRevive" label="角色回复怒气值" is_valid="Y" note="M#" value="60" />
    <Item _uuid="dEVlEX[KDokIo2mJ2vgLkQ" name="Vitality" label="体质" is_valid="Y" note="M#" value="61" />
    <Item _uuid="J0JqaKPvWZOmO3BzzlE6uA" name="Strength" label="力量" is_valid="Y" note="M#" value="62" />
    <Item _uuid="S0aUkfUUe9m7IsUlFChWjQ" name="Stamina" label="耐力" is_valid="Y" note="M#" value="63" />
    <Item _uuid="]UsEUiTNoJRtFQX2u3bpjg" name="Intelligence" label="智力" is_valid="Y" note="M#" value="64" />
    <Item _uuid="MUUTJ7FA]q7rDO[HEwvwlQ" name="Magic" label="魔力" is_valid="Y" note="M#" value="65" />
    <Item _uuid="oEgAeHHRXQpRq5JZ[xDcpA" name="Energy" label="精神" is_valid="Y" note="M#" value="66" />
    <Item _uuid="eEzN8glQWcOXjwTv[xRkmw" name="Agility" label="敏捷" is_valid="Y" note="M#" value="67" />
    <Item _uuid="3koOaTy69D]kag3N1LzfrQ" name="Dexterity" label="灵巧" is_valid="Y" note="M#" value="68" />
    <Item _uuid="tEEJrBVya0FLdI7e3EG6uw" name="Mobility" label="行动值（速度）" is_valid="Y" note="M#" value="69" />
    <Item _uuid="e0AtF07Mil7q3iYtRCZYhA" name="Damage" label="暴击伤害" is_valid="Y" note="M#" value="70" />
    <Item _uuid="QEulzYauivRjJQo]YEcgqg" name="Block" label="格挡值" is_valid="Y" note="M#" value="71" />
    <Item _uuid="d0Nvk3L2bAnEozZfQyzoqw" name="Cri" label="暴击值" is_valid="Y" note="M#" value="72" />
    <Item _uuid="OEoRq7IwboIoKm6y2evIhw" name="Hit" label="命中值" is_valid="Y" note="M#" value="73" />
    <Item _uuid="8kOkxCz1GaTbXI9SVPkJmA" name="Dodge" label="闪避值" is_valid="Y" note="M#" value="74" />
    <Item _uuid="nUub0pK4W]sfn[X5dSa4kQ" name="AttackPhysical" label="物理攻击力" is_valid="Y" note="M#" value="75" />
    <Item _uuid="iUVda7OE7MKlqBaZw7tXrQ" name="AttackPuncture" label="穿刺攻击力" is_valid="Y" note="M#" value="76" />
    <Item _uuid="ckyBCHexQPvj5FBqr92]lA" name="AttackMagic" label="魔法攻击力" is_valid="Y" note="M#" value="77" />
    <Item _uuid="uUmzIh8hdn1UzXma]Bt4ow" name="DefencePhysical" label="物理防御力" is_valid="Y" note="M#" value="78" />
    <Item _uuid="3kpGOr3cvdefo0pvWrhulg" name="DefencePuncture" label="穿刺防御力" is_valid="Y" note="M#" value="79" />
    <Item _uuid="dUd9I[otO[MPMkAFG0lshg" name="DefenceMagic" label="魔法防御力" is_valid="Y" note="M#" value="80" />
    <Item _uuid="z0DhN[zf4i5BLdmULzyxvw" name="Destruction" label="破击" is_valid="Y" note="M#" value="121" />
  </Enum>
  <Enum _uuid="TU6mlzsjmKBvDYWXSuOPpg" name="GpPlayer" label="玩家" is_valid="Y" note="M#" />
  <Enum _uuid="rUmFQT4RHAZVZlhP[F7NgQ" name="GpNpc" label="NPC" is_valid="Y" note="M#" />
</Group>

