HTML{
   BORDER-TOP-WIDTH: 0px;
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0px;
   BORDER-LEFT-WIDTH: 0px;
   FONT-SIZE: small;
   BORDER-BOTTOM-WIDTH: 0px;
   PADDING-BOTTOM: 0px;
   MARGIN: 0px;
   COLOR: #303440;
   PADDING-TOP: 0px;
   FONT-FAMILY: Tahoma, Arial, Verdana;
   HEIGHT: 100%;
   BORDER-RIGHT-WIDTH: 0px
}


/* ------------------------------------------------------ */
/* Body                                                   */
/* ------------------------------------------------------ */
BODY {
   font-size:9pt;
   font-family:"NSimSun";
   scrollbar-face-color:#BBBBBB;
   scrollbar-highlight-color:#FFFFFF;
   scrollbar-shadow-color:#999999;
   scrollbar-3dlight-color:#999999;
   scrollbar-arrow-color:#666666;
   scrollbar-track-color:#F0F0F0;
   scrollbar-darkshadow-color:#FFFFFF;
}

FORM {
   BORDER-TOP-WIDTH: 0px;
   PADDING-RIGHT: 0px;
   PADDING-LEFT: 0px;
   BORDER-LEFT-WIDTH: 0px;
   BORDER-BOTTOM-WIDTH: 0px;
   PADDING-BOTTOM: 0px;
   MARGIN: 0px;
   COLOR: #303440;
   PADDING-TOP: 0px; FONT-FAMILY: Tahoma, Arial, Verdana; HEIGHT: 100%; BORDER-RIGHT-WIDTH: 0px
}

/* ------------------------------------------------------ */
/* Href                                                   */
/* ------------------------------------------------------ */
a
   {
   text-decoration:none;
   color :blue;
   }
a:hover
   {
   text-decoration:underline;
   }

/* ------------------------------------------------------ */
/* Text                                                   */
/* ------------------------------------------------------ */
td
   {
   font-family:"NSimSun"; font-size:9pt;
   }
div
   {
   font-family:"NSimSun"; font-size:9pt;
   }
span
   {
   font-family:"NSimSun"; font-size:9pt;
   }
th
   {
   font-family:"NSimSun"; font-size:9pt;
   }

/* ------------------------------------------------------ */
/* Input                                                  */
/* ------------------------------------------------------ */
input
   {
   font-family:"NSimSun";
   font-size:9pt; border:1px solid #999999;
   }
select
   {
   font-family:"NSimSun";
   font-size:9pt; border:1px solid #999999;
   }
textarea
   {
   font-family:"NSimSun"; font-size:9pt;
   border:1px solid #999999;
   }

/* ------------------------------------------------------ */
/* Body                                                   */
/* ------------------------------------------------------ */
.bodyCatalog
   {
   margin:0; padding:0;
   }
.bodyMain
   {
   margin:0; padding:0;
   background-color:#FFFFFF;
   }


/* ------------------------------------------------------ */
/* Control                                                */
/* ------------------------------------------------------ */
.comCheckBox {
   border:0px;
}

.comRadioButton {
   border: 0px;
}
