<?xml version="1.0" encoding="UTF-8"?>
<Help _uuid="U0AxwmeZ77pCCSS08budlg" _type="Help" name="system.system.config" label="M#12cn16组件配置帮助" is_valid="Y" note="M#" process_face="org.mobj.jfa.face.system.config.IConfigHelper" process_encoding="GB2312" output_root="${system.help|home}" output_path="${system.help|home}/src/system.config" template_project="helper.system.config.hhp" template_index="helper.system.config.hhk" template_catalog="helper.system.config.hhc">
  <Action _uuid="hk13[k0kmFdFZ1Duk]8fsg" _type="Action" name="buildList" label="M#12cn18建立组件设置列表" is_valid="Y" note="M#" process_invoke="buildList" process_path="../.." output_file="/list.html" template_name="helper.system.config.list" />
  <Action _uuid="UEV7IkFN9lLvnwLuvr]CkQ" _type="Action" name="buildConfigAll" label="M#12cn14建立组件" is_valid="Y" note="M#" process_invoke="buildConfigAll" process_path="../../.." output_path="/config" template_name="helper.system.config.config" />
  <Action _uuid="REyOCYwRHOREnlNFye0Jpg" _type="Action" name="buildItemdAll" label="M#12cn14建立属性" is_valid="Y" note="M#" process_invoke="buildItemdAll" process_path="../../.." output_path="/item" template_name="helper.system.config.item" />
</Help>

