<?xml version="1.0" encoding="UTF-8"?>

<Config>

   <!-- ==================================================== -->
   <!-- ContainerConsole: 容器控制台                         -->
   <!-- ==================================================== -->
   <Component
         face  = 'org.mo.web.core.container.IContainerConsole'
         class = 'org.mo.web.core.container.FContainerConsole'
         scope = 'global' >
   </Component>

   <!-- ==================================================== -->
   <!-- WebSession                                           -->
   <!-- ==================================================== -->
   <Component
         face  = 'org.mo.web.core.session.IWebSessionConsole'
         class = 'org.mo.web.core.session.FWebSessionConsole'
         scope = 'global' >
      <Property name='sessionClassName'>org.mo.web.core.session.FWebSession</Property>
      <Property name='interval'>10000</Property>
      <Property name='timeout'>36000000</Property>
      <Property name='memoryTimeout'>36000000</Property>
      <Property name='workfile'>${application.temp}/web.session/session.ser</Property>
      <Property name='directory'>${application.temp}/web.session/</Property>
      <Initialize name='initializeMonitor'/>
      <Initialize name='initializeResume'/>
      <Release name='releaseInterrupt'/>
   </Component>

   <!-- ============================================================ -->
   <!-- WebTreeConsole:树目录控制台                                  -->
   <!--  P:persistence - 持久化定义名称                              -->
   <!--  P:extension - 配置文件类型                                  -->
   <!--  P:interval - 检查间隔                                       -->
   <!--  P:storeInterval - 存储检查间隔                              -->
   <!--  P:workpath - 工作路径                                       -->
   <!--  I:initializeMonitor - 初始化配置监视器                      -->
   <!--  I:initializeConfig - 增加配置信息                           -->
   <!--  R:releaseInterrupt - 释放资源                               -->
   <!-- ============================================================ -->
   <Component
         face  = 'org.mo.web.core.webtree.IWebTreeConsole'
         class = 'org.mo.web.core.webtree.FWebTreeConsole'
         scope = 'global'>
      <Property name='persistence'>web-tree</Property>
      <Property name='extension'>xml</Property>
      <Property name='interval'>1000</Property>
      <Property name='storeInterval'>10000</Property>
      <Property name='workpath'>${application.space}/design.webtree</Property>
      <Initialize name='initializeMonitor'/>
      <Initialize name='initializeConfig'/>
      <Release name='releaseInterrupt'/>
   </Component>

   <!-- ============================================================ -->
   <!--  SideBarConsole:设定控制台                                   -->
   <!--  P:persistence - 持久化定义名称                              -->
   <!--  P:extension - 配置文件类型                                  -->
   <!--  P:interval - 检查间隔                                       -->
   <!--  P:workpath - 工作路径                                       -->
   <!--  I:initializeMonitor - 初始化配置监视器                      -->
   <!--  I:initializeConfig - 增加配置信息                           -->
   <!-- ============================================================ -->
   <Component
         face  = 'org.mo.web.core.sidebar.ISideBarConsole'
         class = 'org.mo.web.core.sidebar.FSideBarConsole'
         scope = 'global' >
      <Property name='persistence'>web-sidebar</Property>
      <Property name='extension'>xml</Property>
      <Property name='interval'>1000</Property>
      <Property name='workpath'>${application.space}/design.sidebar</Property>
      <Initialize name='initializeMonitor'/>
      <Initialize name='initializeConfig'/>
	</Component>	

   <!-- ============================================================ -->
   <!-- WebFormConsole:表单控制台                                    -->
   <!--  P:persistence - 持久化定义名称                              -->
   <!--  P:extension - 配置文件类型                                  -->
   <!--  P:interval - 检查间隔                                       -->
   <!--  P:storeInterval - 存储检查间隔                              -->
   <!--  P:workpath - 工作路径                                       -->
   <!--  I:initializeMonitor - 初始化配置监视器                      -->
   <!--  I:initializeConfig - 增加配置信息                           -->
   <!--  R:releaseInterrupt - 释放资源                               -->
   <!-- ============================================================ -->
   <Component
         face  = 'org.mo.web.core.webform.IWebFormConsole'
         class = 'org.mo.web.core.webform.FWebFormConsole'
         scope = 'global'>
      <Property name='persistence'>web-form</Property>
      <Property name='extension'>xml</Property>
      <Property name='interval'>1000</Property>
      <Property name='storeInterval'>10000</Property>
      <Property name='cacheTimeout'>10000</Property>
      <Property name='workpath'>${application.space}/design.webform</Property>
      <Initialize name='initializeMonitor'/>
      <Initialize name='initializeConfig'/>
      <Release name='releaseInterrupt'/>
   </Component>

   <!-- ============================================================ -->
   <!-- WebTemplateConsole:表单控制台                                    -->
   <!--  P:persistence - 持久化定义名称                              -->
   <!--  P:extension - 配置文件类型                                  -->
   <!--  P:interval - 检查间隔                                       -->
   <!--  P:storeInterval - 存储检查间隔                              -->
   <!--  P:workpath - 工作路径                                       -->
   <!--  I:initializeMonitor - 初始化配置监视器                      -->
   <!--  I:initializeConfig - 增加配置信息                           -->
   <!--  R:releaseInterrupt - 释放资源                               -->
   <!-- ============================================================ -->
   <Component
         face  = 'org.mo.web.core.webtheme.IWebThemeConsole'
         class = 'org.mo.web.core.webtheme.FWebThemeConsole'
         scope = 'global'>
      <Property name='persistence'>web-theme</Property>
      <Property name='extension'>xml</Property>
      <Property name='interval'>1000</Property>
      <Property name='storeInterval'>10000</Property>
      <Property name='workpath'>${application.space}/design.webtheme</Property>
      <Initialize name='initializeMonitor'/>
      <Initialize name='initializeConfig'/>
      <Release name='releaseInterrupt'/>
   </Component>

   <!-- ============================================================ -->
   <!-- WebFormDatasetConsole:表单数据控制台                         -->
   <!-- ============================================================ -->
   <Component
         face  = 'org.mo.web.core.webform.IWebFormDatasetConsole'
         class = 'org.mo.web.core.webform.FWebFormDatasetConsole'
         scope = 'global'/>

   <!-- ==================================================== -->
   <!-- WebMessage                                           -->
   <!-- ==================================================== -->
   <Component
         face      = 'org.mo.web.core.message.IWebMessageConsole'
         class     = 'org.mo.web.core.message.FWebMessageConsole'
         scope     = 'global' >
      <Property name='pageFatal'>fatal@/apl/message/WebMessage.wa</Property>
      <Property name='pageError'>error@/apl/message/WebMessage.wa</Property>
      <Property name='pageTimeout'>timeout@/apl/message/WebMessage.wa</Property>
      <Property name='pageWarn'>warn@/apl/message/WebMessage.wa</Property>
      <Property name='pageInfo'>info@/apl/message/WebMessage.wa</Property>
   </Component>

   <!-- ==================================================== -->
   <!-- WebProcess                                           -->
   <!-- ==================================================== -->
   <Component
         face      = 'org.mo.web.core.process.IWebProcessConsole'
         class     = 'org.mo.web.core.process.FWebProcessConsole'
         scope     = 'global' >
   </Component>

   <!-- ==================================================== -->
   <!-- WebAction                                            -->
   <!-- ==================================================== -->
   <Component
         face      = 'org.mo.web.core.action.IActionConsole'
         class     = 'org.mo.web.core.action.FActionConsole'
         scope     = 'global' >
      <Initialize name='addContext'>
         <Parameter>/psn</Parameter>
         <Parameter>/psn</Parameter>
      </Initialize>
      <Initialize name='addContext'>
         <Parameter>/ent</Parameter>
         <Parameter>/ent</Parameter>
      </Initialize>
      <Initialize name='addContext'>
         <Parameter>/game</Parameter>
         <Parameter>/game</Parameter>
      </Initialize>
      <Initialize name='addContext'>
         <Parameter>/system</Parameter>
         <Parameter>/system</Parameter>
      </Initialize>
      <Initialize name='addContext'>
         <Parameter>/platform</Parameter>
         <Parameter>/platform</Parameter>
      </Initialize>
   </Component>

   <!-- ==================================================== -->
   <!-- WebService                                           -->
   <!-- ==================================================== -->
   <Component
         face  = 'org.mo.web.core.service.IServiceConsole'
         class = 'org.mo.web.core.service.FServiceConsole'
         scope = 'global' >
      <Property name='encoding'>UTF-8</Property>
      <Initialize name='initializeConfig'/>
   </Component>

   <!-- ==================================================== -->
   <!-- WebServlet                                           -->
   <!-- ==================================================== -->
   <Component
         face  = 'org.mo.web.core.servlet.IWebServletConsole'
         class = 'org.mo.web.core.servlet.FWebServletConsole'
         scope = 'global' >
      <Property name='encoding'>UTF-8</Property>
   </Component>

   <!-- ==================================================== -->
   <!-- WebCache                                             -->
   <!-- ==================================================== -->
   <Component
         face  = 'org.mo.web.core.cache.ICacheConsole'
         class = 'org.mo.web.core.cache.FCacheConsole'
         scope = 'global' >
      <Property name='workPath'>${application.web}</Property>
   </Component>

   <!-- ==================================================== -->
   <!-- Format                                               -->
   <!-- ==================================================== -->
   <Component
         face  = 'org.mo.web.core.format.IFormatConsole'
         class = 'org.mo.web.core.format.FFormatConsole'
         scope = 'global' >
      <Property name='workPath'>${application.space}/web.format</Property>
   </Component>

	<!-- ============================================================ -->
   <Component
         face  = 'org.mo.web.core.parser.js.IJavascriptHelper'
         class = 'org.mo.web.core.parser.js.FJavascriptHelper'
         scope = 'global'/>

   <!-- ==================================================== -->
   <!-- WebUpload                                            -->
   <!-- ==================================================== -->
   <Component
         face  = 'org.mo.web.core.upload.IWebUploadConsole'
         class = 'org.mo.web.core.upload.FWebUploadConsole'
         scope = 'global' >
      <Property name='directory'>${application.temp}/web.upload/</Property>
      <Property name='encoding'>UTF-8</Property>
   </Component>

</Config>
