/* ------------------------------------------------------ */
.RLine_Underline{
   text-decoration: none;
   padding-bottom: 2px;
   border-bottom: 1px dotted #333333;
}

/* ------------------------------------------------------ */
.RBorder_Form{
   table-layout: fixed;
   }
.RBorder_InnerForm{
   background-color:#F1FFFF;
   }
.RBorder_Top
   {
   overflow:hidden;
   width:100%;
   height:1px;
   margin:0 2px;
   background:#24C2DB;
   }
.RBorder_Before{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #24C2DB;
   border-right:1px solid #24C2DB;
   background:#FFFFFF;
   }
.RBorder_Panel{
   border-left:1px solid #24C2DB;
   border-right:1px solid #24C2DB;
   }
.RBorder_After{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #24C2DB;
   border-right:1px solid #24C2DB;
   background:#FFFFFF;
   }
.RBorder_Bottom{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 2px;
   background:#24C2DB;
   }
/* ------------------------------------------------------ */
.RBorder_TopReadony
   {
   overflow:hidden;
   width:100%;
   height:1px;
   margin:0 2px;
   background:#B3B2AB;
   }
.RBorder_BeforeReadony{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #B3B2AB;
   border-right:1px solid #B3B2AB;
   background:#FFFFFF;
   }
.RBorder_PanelReadony{
   border-left:1px solid #B3B2AB;
   border-right:1px solid #B3B2AB;
   }
.RBorder_AfterReadony{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 1px;
   border-left:1px solid #B3B2AB;
   border-right:1px solid #B3B2AB;
   background:#FFFFFF;
   }
.RBorder_BottomReadony{
   display:block;
   overflow:hidden;
   height:1px;
   margin:0 2px;
   background:#B3B2AB;
   }

/* ------------------------------------------------------ */
/* Body                                                   */
/* ------------------------------------------------------ */
/*body
   {
   font-size:9pt;
   font-family:"SimSun";
   scrollbar-face-color:#BBBBBB;
   scrollbar-highlight-color:#FFFFFF;
   scrollbar-shadow-color:#999999;
   scrollbar-3dlight-color:#999999;
   scrollbar-arrow-color:#666666;
   scrollbar-track-color:#F0F0F0;
   scrollbar-darkshadow-color:#FFFFFF;
   }
*/

/* ------------------------------------------------------ */
/* Href                                                   */
/* ------------------------------------------------------ */
a
   {
   text-decoration:none;
   color :blue;
   }
a:hover
   {
   text-decoration:underline;
   }

/* ------------------------------------------------------ */
/* Text                                                   */
/* ------------------------------------------------------ */
td
   {
   font-family:"SimSun"; font-size:9pt;
   }
div
   {
   font-family:"SimSun"; font-size:9pt;
   }
span
   {
   font-family:"SimSun"; font-size:9pt;
   }
th
   {
   font-family:"SimSun"; font-size:9pt;
   }

/* ------------------------------------------------------ */
/* Input                                                  */
/* ------------------------------------------------------ */
input
   {
   font-family:"SimSun";
   font-size:9pt; border:1px solid #999999;
   }
select
   {
   font-family:"SimSun";
   font-size:9pt; border:1px solid #999999;
   }
textarea
   {
   font-family:"SimSun"; font-size:9pt;
   border:1px solid #999999;
   }

/* ------------------------------------------------------ */
/* Body                                                   */
/* ------------------------------------------------------ */
.bodyCatalog
   {
   padding:0;
   margin:0;
   }
.bodyMain
   {
   padding:0;
   margin:0;
   background-color:#ededf3
   }

.titleCellNor{
   white-space: nowrap;
   color:#666666; background-color:#8E909C; text-align:center;
   padding-top:4; padding-left:12; padding-bottom:2; padding-right:12;
   border-left:1 solid #FFFFFF; border-top:1 solid #9a958c; border-right:1 solid #999999; border-bottom:0 solid #FFFFFF;
   filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#BDB7AC);
   }
.titleCellHover{
   white-space: nowrap; cursor:pointer;
   color:#666666; background-color:#9e9eba; text-align:center;
   padding-top:5; padding-left:12; padding-bottom:3; padding-right:12;
   border-left:1 solid #FFFFFF; border-top:1 solid #9e9eba; border-right:1 solid #999999; border-bottom:1 solid #FFFFFF;
   filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#BDB7AC, endcolorstr=#FFFFFF);
   }
.titleCellSel {
   white-space: nowrap;
   color:#333333; background-color:#9e9eba; text-align:center;
   padding-top:5; padding-left:12; padding-bottom:3; padding-right:12;
   border-left:1 solid #FFFFFF; border-top:1 solid #9e9eba; border-right:1 solid #999999; border-bottom:1 solid #FFFFFF;
   filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#BDB7AC, endcolorstr=#FFFFFF);
   }
.tbarBtnNor {
   color:#000000;
   background-color:#CCCCCC;
   border:1 solid #333333;
   padding-top:0; padding-left:16; padding-bottom:0; padding-right:16;
   filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
   white-space:nowrap;
   }
.tbarBtnHover {
   cursor:pointer;
   color:#666666;
   border:1 solid #333333;
   background-color:#d5d5fa;
   padding-top:0; padding-left:16; padding-bottom:0; padding-right:16;
   filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#d2d2f6);
   white-space:nowrap;
   }
.tbarBtnSel {
   color:#6a6a7c;
   border:1 solid #333333;
   padding-top:0; padding-left:16; padding-bottom:0; padding-right:16;
   filter:progid:DXImageTransform.Microsoft.Gradient(gradienttype=0, startcolorstr=#FFFFFF, endcolorstr=#acacca);
   white-space:nowrap;
   }

