<?xml version="1.0" encoding="UTF-8"?>
<Chart _uuid="00RLptq53l4VttE9v6QDkg" name="module.project.test.defect.module" label="M#12cn17模块分组比例图" is_valid="Y" note="M#" data_logic="DP_TEST_DEFECT_DI.Build_Describe_Module_Chart">
  <Header _uuid="p0mzIhgPRQHatkSfitWVkA" name="header" label="M#12cn17模块分组比例图" is_valid="Y" note="M#" />
  <Coordinate _uuid="6kB3bKHHGB3cByV[8BEUow" name="Coordinate" label="M#" is_valid="Y" note="M#" is_visible="Y">
    <Axis _uuid="pUu7zjF7eCAH2KPq[Xihsg" name="AxisX" label="M#" is_valid="Y" note="M#" step="1" line_width="1" background_color="#FFFFFF" is_visible="Y" type="B" data_name="BOTTOM">
      <Stick _uuid="zkqzbRmw41MceVsFouoZug" name="Stick" label="M#" is_valid="Y" note="M#" min="0" step="2" line_width="1" line_color="#CCCCCC" type="V" />
      <Stick _uuid="UUnsNE[9FdZhQxc7o0Rupg" name="Stick" label="M#" is_valid="Y" note="M#" min="1" step="2" line_width="1" line_color="#E0E0E0" type="V" />
    </Axis>
    <Axis _uuid="nUQCVs2dbf34JA988vwfuQ" name="AxisY" label="M#" is_valid="Y" note="M#" min="3" step="10" background_color="#FFFFFF" is_visible="Y" type="L" data_name="LEFT">
      <Stick _uuid="fkl9GyWgZUdpB77FpfMjjg" name="Stick" label="M#" is_valid="Y" note="M#" min="0" step="10" line_width="1" line_color="#CCCCCC" type="H" />
      <Stick _uuid="pEZoPXL87sVzCRf6Bxi1qw" name="Stick" label="M#" is_valid="Y" note="M#" min="5" step="10" line_width="1" line_color="#E0E0E0" type="H" />
    </Axis>
  </Coordinate>
  <Graphics _uuid="f03IR7DEExTVfvUzlxW1vA" name="Graphics" label="M#" is_valid="Y" note="M#" background_color="#FFFFFF">
    <Series _uuid="sElP]2qq4Wq]mji3KLGQig" name="Series" label="M#" is_valid="Y" note="M#" type="vline">
      <Data _uuid="7URwcDDlkfQSs[SjRdLmpw" name="Data" label="M#" is_valid="Y" note="M#" data_name="DATA" color="#9966CC" line_color="#FF9933" line_width="3" />
    </Series>
  </Graphics>
</Chart>

