<?xml version="1.0" encoding="UTF-8"?>
<TreeView _uuid="9647a452-8ed1-45dd-8b3e-3ed2ab9861d2" name="system.platform.server" label="M#12cn211游戏-平台-服务器列表" is_valid="Y" note="M#" is_config="N" disp_checked="N" service="catalog@system.platform.server">
   <TreeNodeType _uuid="d33baeef-2acb-4040-a34a-f0e1f2b19944" name="server" label="M#12cn13服务器" is_valid="Y" note="M#" type="collection" type_name="Server" icon="#platform.server.server" action="list" attributes="form_name=system.platform.server.ServerForm" />
   <TreeNodeType _uuid="27757a7b-3f7d-47da-9fdf-cabe764244e3" name="process" label="M#12cn12进程" is_valid="Y" note="M#" type="component" type_name="Process" icon="#platform.server.process" attributes="form_name=system.platform.server.ProcessForm" />
</TreeView>
