<?xml version="1.0" encoding="UTF-8"?>
<LogicUnit name="person.user.config" is_valid="Y" label="用户-设置信息">
  <Dataset name="person.user.config" is_valid="Y" label="数据集定义" note="用户-设置信息" />
  <Table name="PM_USER_CONFIG_DS" is_valid="Y" label="数据表" note="用户-设置信息" />
  <Table name="PM_USER_CONFIG_HS" is_valid="Y" label="历史表" note="用户-设置信息" />
  <View name="PM_USER_CONFIG" is_valid="Y" label="数据视图" note="用户-设置信息" />
  <View name="PM_USER_CONFIG_HV" is_valid="Y" label="历史视图" note="用户-设置信息" />
  <Sequence name="PM_USER_CONFIG_SQ" is_valid="Y" label="数据队列" note="用户-设置信息" />
  <Sequence name="PM_USER_CONFIG_HQ" is_valid="Y" label="历史队列" note="用户-设置信息" />
  <Package name="PM_USER_CONFIG_DI" is_valid="Y" label="数据包" note="用户-设置信息" />
  <Package name="PM_USER_CONFIG_HI" is_valid="Y" label="历史包" note="用户-设置信息" />
</LogicUnit>

